<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
        <slider :min="slider1.min" :max="slider1.max" :value="slider1.value"  :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>

        <section v-if="false">
            <p>Кількість військовослужбовців</p>
            <slider :min="slider2.min" :max="slider2.max" :value="slider2.value" :dimension="constants.persons"
                    @onSlide="setValue($event, slider2)"></slider>
            <p>Фінансування на одного військовослужбовця</p>
            <slider :min="slider3.min" :max="slider3.max" :value="slider3.value" :dimension="constants.uahPerMonth"
                    @onSlide="setValue($event, slider3)"></slider>
        </section>

    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'

    export default {
        name: 'Defense',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                budget: 76425328429.2,
                // Загальні видатки
                slider1: {
                    value: 76425,
                    max: 300000,
                    min: 10,
                },
                // Кількість військових
                slider2: {
                    value: 190119,
                    def: 190119,
                    min: 1000,
                    max: 1000000
                },
                // фінансування військових
                slider3: {
                    value: 33498.9,
                    def: 33498.9,
                    min: 3000,
                    max: 100000
                },

                sum: 0
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.sum,
                    total: this.sum,
                    countMilitaries: this.slider2.value,
                    salaryOfMilitaries: this.slider3.value,
                };
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            toDefault() {
                this.slider1.value = (this.budget/1000000).toFixed();
                this.slider2.value = this.slider2.def;
                this.slider3.value = this.slider3.def;
                this.calcBlock1();
            },
            calcBlock1() {
                let sum = (+this.slider2.value) * 12 * (+this.slider3.value);

                //console.log('армія', sum);
                this.sum = +sum.toFixed();
                this.$emit('onCalcDefense', {amount: this.sum, data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;

                this.slider2.value = this.slider2.def;

                this.slider3.value = (76423036167*(slider/budget)/this.slider2.def/12).toFixed(1);

                this.sum = +slider;
                this.$emit('onCalcDefense', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>