<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
            <slider :min="slider1.min" :max="slider1.max" :value="slider1.value"  :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.roadsQuality}}</p>
            <slider :min="slider2.min" :max="slider2.max" :value="slider2.value" :step="slider2.step" dimension="%" @onSlide="setValue($event, slider2)"></slider>
        </section>

        <section>
            <p>{{item.agriculturalSubsidies}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>
        <section>
            <p>{{item.supportMiners}}</p>
            <radio :values="radios2.values" :value="radios2.value" @onRadio="setValue($event, radios2)"></radio>
        </section>
        <section>
            <p>{{item.otherExpenditures}}</p>
            <div class="tooltip">
                <span class="tooltiptext warning">{{constants.alertCannotChange}}</span>
                <input type="text" :value="(input1.value/1000000).toFixed()" readonly="readonly"> {{constants.bn}} {{constants.uah}}
            </div>
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'

    export default {
        name: 'Economy',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                budget: 111788654461.3,
                // Загальні видатки
                slider1: {
                    value: 111788,
                    max: 500000,
                    min: 100,
                },
                // Дороги. Відсоток відремонтованих дорог.
                slider2: {
                    value: 6.09,
                    def: 6.09,
                    min: 5,
                    max: 100,
                    step: 0.01
                },
                // Аграрний сектор. Збільшити прибутковість агрохолдингів
                radios1: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: `${this.constants.yes} (+ $$ ${this.constants.bn} ${this.constants.uah})`,
                            value: 1,
                            amount: 12774,
                            def: 12774,
                        },
                        {
                            label: this.constants.no,
                            value: 2
                        }
                    ]
                },
                // Підтримка шахтарів
                radios2: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: `${this.constants.yes} (+ $$ ${this.constants.bn} ${this.constants.uah})`,
                            value: 1,
                            amount: 2247,
                            def: 2247,
                        },
                        {
                            label: this.constants.no,
                            value: 2
                        }
                    ],
                },

                // Інше
                input1: {
                    value: 56358028864,
                    def: 56358028864,
                },
                total: 0,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider1.value,
                    total: this.total,
                    agrarian: this.radios1,
                    miners: this.radios2,
                    roads: this.slider2.value,
                    other: this.input1.value,
                };
            },
            toDefault() {
                this.slider1.value = (this.budget/1000000).toFixed();
                this.slider2.value = this.slider2.def;
                this.radios1.value = this.radios1.def;
                this.radios2.value = this.radios2.def;
                this.input1.value = this.input1.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;

                //this.input1.value = this.input1.def;

                this.radios1.values[0].amount = this.radios1.values[0].def;
                this.radios2.values[0].amount = this.radios2.values[0].def;

                sum += (this.slider2.value/100 - 0.05) * (2200 + 160833) * 22739 * 1000;
                //console.log(sum);
                // Аграрна підтримка
                if (this.radios1.value === 1) {
                    sum += 12774963479;
                }

                // Підтримка шахтарів
                if (this.radios2.value === 1) {
                    sum += 2247101600;
                }

                //sum += this.input1.def;
                sum += this.input1.value;

                //console.log('економіка', sum);
                this.slider1.value = (sum/1000000).toFixed();
                this.total = sum;
                this.$emit('onCalcEconomy', {amount: +sum.toFixed(2), data: this.getData()});

            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;

                //console.log(slider / budget);

                let H24 = 40408560518.3 * (slider / budget);
                console.log(H24);
                this.slider2.value = (((H24/22739)/(160833+2200)/1000+0.05)*100).toFixed(2);
                this.radios1.values[0].amount = ((slider / budget * 12774963478.71)/1000000).toFixed();
                this.radios2.values[0].amount = ((slider / budget * 2247101600)/1000000).toFixed();
                this.input1.value = slider / budget * this.input1.def;

                this.radios1.value = 1;
                this.radios2.value = 1;

                //console.log(slider);
                this.total = slider;
                this.$emit('onCalcEconomy', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>