<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
            <slider :min="slider6.min" :max="slider6.max" :value="slider6.value" :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider6)"></slider>
        </section>
        <section>
            <p>{{item.higherQuality}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>
        <section>
            <p>{{item.professorSalary}}</p>
            <slider :min="slider5.min" :max="slider5.max" :value="slider5.value" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider5)"></slider>
        </section>
        <section>
            <p>{{item.teacherSalary}}</p>
            <slider :min="slider7.min" :max="slider7.max" :value="slider7.value" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider7)"></slider>
        </section>
        <section>
            <p>{{item.tutorSalary}}</p>
            <slider :min="slider8.min" :max="slider8.max" :value="slider8.value" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider8)"></slider>
        </section>
        <section>
            <p>{{item.amountOfStudents}}</p>
            <slider :min="slider1.min" :max="slider1.max" :value="slider1.value"  :dimension="constants.persons" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.studentsPerTeacher}}</p>
            <slider :min="slider3.min" :max="slider3.max" :value="slider3.value" :step="slider3.step" :dimension="constants.persons" @onSlide="setValue($event, slider3)"></slider>
        </section>
        <section>
            <p>{{item.childrenCoverage}}</p>
            <slider :min="slider4.min" :max="slider4.max" :value="slider4.value" dimension="%" @onSlide="setValue($event, slider4)"></slider>
        </section>
        <section>
            <p>{{item.other}}</p>
            <div class="tooltip">
                <span class="tooltiptext warning">{{constants.alertCannotChange}}</span>
                <input type="text" v-model="(input1.value/1000000).toFixed()" readonly="readonly">  {{constants.bn}} {{constants.uah}}
            </div>
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'

    export default {
        name: 'Education',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio
        },
        mounted() {
            this.last = this.radios1;
            this.calcBlock1();
        },
        data() {
            return {
                budget: 182327950272.54,
                last: undefined,
                //  застосування реформи (1 статус кво, 2,3)
                radios1: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: this.item.lowQuality,
                            value: 1,
                            info: this.item.lowQualityDesc,
                        },
                        {
                            label: this.item.middleQuality,
                            value: 2,
                            info: this.item.middleQualityDesc
                        },
                        {
                            label: this.item.highQuality,
                            value: 3,
                            info: this.item.highQualityDesc
                        }
                    ]
                },
                // Кількість студентів I-IV
                slider1: {
                    value: 806559,
                    def: 806559,
                    min: 400000,
                    max: 2000000
                },
                // Кількість дітей на одного вчителя
                slider3: {
                    value: 8.8,
                    def: 8.8,
                    min: 1,
                    max: 60,
                    step: 0.1
                },
                // Відсоток покриття дітей відповідного віку
                slider4: {
                    value: 74,
                    def: 74,
                    min: 1,
                    max: 100
                },
                // ЗП викладача
                slider5: {
                    value: 18270,
                    def: 18270,
                    min: 3000,
                    max: 600000
                },
                // Загальні витрати
                slider6: {
                    value: 182327,
                    max: 1000000,
                    min: 100
                },
                slider7: {
                    value: 6000,
                    def: 6000,
                    min: 3000,
                    max: 30000
                },
                slider8: {
                    value: 5000,
                    def: 5000,
                    min: 3000,
                    max: 30000
                },
                // Інше
                input1: {
                    value: 47411528859,
                    def: 47411528859,
                },
                total: 0,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider6.value,
                    total: this.total,
                    numberOfStudents: this.slider1.value,
                    reform: this.radios1.value,
                    childrenPerTeacher: this.slider3.value,
                    percentOfCoverage: this.slider4.value,
                    salaryOfKindergartenEducator: this.slider8.value,
                    salaryOfTeacher: this.slider7.value,
                    salaryOfLecturer: this.slider5.value,
                    levelOfEducation: this.radios1.value,
                    other: this.input1.value,
                };
            },
            toDefault() {
                this.last = this.radios1;
                this.radios1.value = this.radios1.def;
                this.slider1.value = this.slider1.def;
                this.slider3.value = this.slider3.def;
                this.slider4.value = this.slider4.def;
                this.slider5.value = this.slider5.def;
                this.slider6.value = (this.budget/1000000).toFixed();
                this.slider7.value = this.slider7.def;
                this.slider8.value = this.slider8.def;
                this.input1.value = this.input1.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;

                if (obj === this.radios1 || obj === this.slider5) {
                    this.last = obj;
                }

                if (obj === this.slider6) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;
                //this.input1.value = this.input1.def;

                let E5 = 0;
                if (this.last === this.radios1) {
                    if (this.radios1.value === 1) {
                        E5 = (7029144688 + 17489222985) / (141307 + 665252);
                    } else if (this.radios1.value === 2) {
                        E5 = 206667.67;
                    } else if (this.radios1.value === 3) {
                        E5 = 5937783.9;
                    }
                    //console.log('E5-1',E5*this.slider1.value);
                    let G5 = 0;
                    if (this.radios1.value === 1) {
                        G5 = 18270;
                    } else if (this.radios1.value === 2) {
                        G5 = 54731.49;
                    } else if (this.radios1.value === 3) {
                        G5 = 513084;
                    }
                    this.slider5.value = G5;
                    E5 = E5 * this.slider1.value - (27776 + 131953)*18270*12*1.22 + 1.22*12*G5*(27776 + 131953);
                    //console.log('E5-2',E5, (27776 + 131953)*18270*12*1.22, 1.22*12*G5*(27776 + 131953));
                }

                let E7 = 0;

                if (this.last === this.slider5) {
                    let cat;
                    if (this.slider5.value < (54731.46 - 0.000001)) {
                        cat = 1;
                    } else if (this.slider5.value > (513084 - 0.0000001)) {
                        cat = 3;
                    } else {
                        cat = 2;
                    }
                    //console.log('cat', cat);
                    if (cat === 1) {
                        E7 = (7029144688 + 17489222985) / (141307 + 665252);
                    } else if (cat === 2) {
                        E7 = 206666.67;
                    } else if (cat === 3) {
                        E7 = 5937783.9;
                    }

                    this.radios1.value = cat;
                    // Было 10000 вместо this.slider5.value
                    E7 = E7 * this.slider1.value - (27776 + 131953)*18270*12*1.22 + 1.22*12*this.slider5.value*(27776 + 131953);
                    //E7 = E7 * this.slider1.value;
                }

                //console.log('E7',E7);

                let E10 = 0;
                if (this.radios1.value === 1) {
                    E10 = 85907781252.47
                } else {
                    E10 = 85907781252.47*0.74;
                }
                E10 = E10 - 6000*12*1.22*438000 + this.slider7.value * 12*1.22/this.slider3.value*3846000;

                //console.log('E10', E10); //  83,700,818,356

                let E12 = 0;
                if (this.radios1.value === 1) {
                    E12 = 23239.27*(1057440/0.74);
                } else {
                    E12 = 23239.27;
                }

                E12 = E12 * (this.slider4.value/100) - 137881.19*5000*1.22*12 + this.slider8.value*1.22*12*(137881/0.74*(this.slider4.value/100));

                //console.log('E12', E12);
                //let E17 = this.input1.def;
                let E17 = +this.input1.value;

                sum = E5 + E7 + E10 + E12 + E17;
                //console.log('education', sum);
                this.slider6.value = (sum/1000000).toFixed();
                this.total = sum;
                this.$emit('onCalcEducation', {amount: +sum.toFixed(2), data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider6.value * 1000000;

                //this.radios1.value = 1;

                let J5 = +(166688860000*(slider/budget)).toFixed(1);
                //console.log(J5);
                if (this.radios1.value === 1) {
                    this.slider1.value = (J5/30399).toFixed();
                } else if (this.radios1.value === 2) {
                    this.slider1.value = (J5/206666.67).toFixed();
                } else {
                    this.slider1.value = (J5/5937783.9).toFixed();
                }

                this.slider3.value = (8.8/(slider/budget)).toFixed(1);
                this.slider4.value = (76*(slider/budget)).toFixed();
                this.input1.value = (+this.input1.def*(slider/budget)).toFixed();

                this.total = slider;
                this.$emit('onCalcEducation', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>