<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>

        <section>
            <p>{{constants.totalExpenditures}}</p>
            <slider :min="slider1.min" :max="slider1.max" :value="slider1.value" :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.calcMode}}</p>
            <radio :values="radios3.values" :value="radios3.value" @onRadio="setValue($event, radios3)"></radio>
        </section>
        <section v-if="radios3.value == 1">
            <p>{{item.administrationQuality}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>
        <section v-if="radios3.value == 2">
            <p>{{item.addSalary}}</p>
            <slider :min="slider2.min" :max="slider2.max" :value="slider2.value" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider2)"></slider>
            <p v-if="slider2.value < 10000" style="color: #ff0300;">{{item.lowQuality}}</p>
            <p v-if="slider2.value >= 10000 && slider2.value < 50000" style="color: #ff7400">{{item.middleQuality}}</p>
            <p v-if="slider2.value >= 50000" style="color: #2fa32e;">{{item.highQuality}}</p>
        </section>
        <section>
            <p>{{item.numberOfOfficials}}</p>
            <slider :min="slider3.min" :max="slider3.max" :value="slider3.value" :dimension="constants.tho + ' ' +  constants.persons" @onSlide="setValue($event, slider3)"></slider>
        </section>
        <section>
            <p>{{item.apparatusQuality}}</p>
            <color-level :level="level"></color-level>
        </section>
        <section>
            <p>{{item.processingCapacity}}</p>
            <slider-color :min="slider4.min" :max="slider4.max" :value="slider4.value" dimension="%" @onSlide="setValue($event, slider4)"></slider-color>
            <p v-if="slider4.value == 100">{{item.enoughOfficials}}</p>
            <p v-if="slider4.value < 100" style="color: #ff0300">{{item.tooLess}}</p>
            <p v-if="slider4.value > 100" style="color: #2fa32e">{{item.tooMore}}</p>
        </section>
        <section>
            <p>{{item.launchEGovernance}}</p>
            <radio :values="radios2.values" :value="radios2.value" @onRadio="setValue($event, radios2)"></radio>
        </section>
        <section>
            <p>{{item.other}}</p>
            <div class="tooltip">
                <span class="tooltiptext warning">{{constants.alertCannotChange}}</span>
                <input type="text" :value="(input1.value/1000000).toFixed()" readonly="readonly"> {{constants.bn}} {{constants.uah}}
            </div>
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import SliderColor from './../components/SliderColor.vue'
    import Radio from './../components/Radio.vue'
    import ColorLevel from './../components/ColorLevel.vue'

    export default {
        name: 'GovernmentOfficials',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'slider-color': SliderColor,
            'radio': Radio,
            'color-level': ColorLevel
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                //budget: 46098909494,
                //budget: 62255707680,
                budget: 65500000000,
                // Загальні видатки
                slider1: {
                    value: 65500,
                    max: 200000,
                    min: 100,
                },
                //Рівень чиновника 1 - чиновник найнижчого рівня, 2 - чиновник другого рівня, 3 - чиновник третього рівня
                radios1: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: this.item.lowQuality,
                            value: 1,
                            amount: 8349,
                            info: '$$ ' + this.constants.uahPerMonth
                        },
                        {
                            label: this.item.middleQuality,
                            value: 2,
                            amount: 10000,
                            info: '$$ ' + this.constants.uahPerMonth
                        },
                        {
                            label: this.item.highQuality,
                            value: 3,
                            amount: 50000,
                            info: '$$ ' + this.constants.uahPerMonth
                        }
                    ]
                },
                // Зар. плата чиновника
                slider2: {
                    value: 8349,
                    def: 8349,
                    min: 3000,
                    max: 60000
                },
                // Кількість чиновників
                slider3: {
                    value: 300,
                    def: 300,
                    min: 5,
                    max: 3000
                },
                //  Застосувати електронний уряд (2) залишити як було (1)
                radios2: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: this.item.returnToOriginal,
                            value: 1
                        },
                        {
                            label: this.item.useEGovernance,
                            value: 2
                        }
                    ]
                },
                radios3: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: this.item.selectQuality,
                            value: 1
                        },
                        {
                            label: this.item.addSalary,
                            value: 2
                        }
                    ]
                },
                // Інше
                input1: {
                    /*value:  25586899680,
                    def: 25586899680,*/
                    value:  28831192000,
                    def: 28831192000,
                },
                // пропускная способность уряда
                slider4: {
                    value: 110,
                    def: 110,
                    min: 0,
                    max: 200
                },
                level: 0,
                total: 0,
                D5: 36668808000,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider1.value,
                    total: this.total,
                    salary: this.slider2.value,
                    count: this.slider3.value,
                    quality: this.radios1.value,
                    eGovern: this.radios2.value,
                    other: this.input1.value,
                    throughput: this.slider4.value
                };
            },
            toDefault() {
                this.slider1.value = (this.budget/1000000).toFixed();
                this.slider2.value = this.slider2.def;
                this.slider3.value = this.slider3.def;
                this.slider4.value = this.slider4.def;
                this.radios1.value = this.radios1.def;
                this.radios2.value = this.radios2.def;
                this.radios3.value = this.radios3.def;
                this.input1.value = this.input1.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else if (obj === this.slider4){
                    this.calcBlock3();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;

                //this.input1.value = this.input1.def;

                let D5 = 0;
                if (this.radios3.value === 1) {
                    if (this.radios1.value === 1) {
                        D5 = this.slider3.value * 1000 * 8349 * 12*1.22;
                    } else if (this.radios1.value === 2) {
                        D5 = this.slider3.value * 1000 * 10000 * 12*1.22;
                    } else if (this.radios1.value === 3) {
                        D5 = this.slider3.value * 1000 * 50000 * 12*1.22;
                    }
                } else {
                    D5 = (+this.slider2.value) * 12 * (+this.slider3.value) * 1000 * 1.22;
                }

                //this.D5 = D5;

                //console.log('D5', D5, this.slider2.value, this.slider3.value);

                sum += D5;

                let E6;
                if (this.radios1.value === 1) {
                    E6 = this.slider3.value*1000*250;
                } else if (this.radios1.value === 2) {
                    E6 = this.slider3.value*1000*278;
                } else if (this.radios1.value === 3) {
                    E6 = this.slider3.value*1000*313;
                }

                if (this.radios2.value === 2) {
                    E6 *= (1+0.1);
                    sum += 1500000000;
                }
                E6 /= 75000000;

                this.slider4.value = (E6*100).toFixed();

                //sum += this.input1.def;
                sum += +this.input1.value;

                //console.log('чиновники', sum);
                this.slider1.value = (sum/1000000).toFixed();
                this.total = sum;
                this.getLevel();
                this.$emit('onCalcGovernmentOfficials', {amount: +sum.toFixed(2), data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;
                this.total = slider;

                // Кіл
                let I6 = this.D5 * slider / budget;
                //console.log('I6', I6);
                this.slider3.value = ((I6 / 8349 / (12 * 1.22)) / 1000).toFixed();

                this.input1.value = (this.input1.def * slider / budget).toFixed(1);

                let E6;
                if (this.radios1.value === 1) {
                    E6 = this.slider3.value*1000*250;
                } else if (this.radios1.value === 2) {
                    E6 = this.slider3.value*1000*278;
                } else if (this.radios1.value === 3) {
                    E6 = this.slider3.value*1000*313;
                }

                let I10, D10;
                if (this.radios2.value === 2) {
                    I10 = 1500000000 * slider / budget;
                    D10 = 1500000000;
                } else {
                    I10 = 1;
                    D10 = 1;
                }
                    if (I10 < D10) {
                        E6 *= 1;
                    } else {
                        E6 *= 1.1;
                    }
                //}

                E6 /= 75000000;

                this.slider4.value = (E6*100).toFixed();
                this.getLevel();
                this.$emit('onCalcGovernmentOfficials', {amount: +slider, data: this.getData()});
            },
            calcBlock3() {
                let slider = this.slider4.value/100;
                let count = slider*75000000;

                if (this.radios2.value === 2) {
                    count /= (1+0.1);
                }

                if (this.radios1.value === 1) {
                    count = count/(1000*250);
                } else if (this.radios1.value === 2) {
                    count = count/(1000*278);
                } else if (this.radios1.value === 3) {
                    count = count/(1000*313);
                }

                this.slider3.value = count.toFixed();
                //console.log(count);
                this.calcBlock1();
            },
            getLevel() {
                let level = 0;

                let salary = +this.slider2.value;

                if (this.radios3.value === 2) {
                    if (salary < 10000) {
                        level = 1;
                    } else if (salary >= 10000 && salary < 50000) {
                        level = 3;
                    } else if (salary >= 50000) {
                        level = 5;
                    }
                } else {
                    if (this.radios1.value === 1) {
                        level = 1;
                    } else if (this.radios1.value === 2) {
                        level = 3;
                    } else if (this.radios1.value === 3) {
                        level = 5;
                    }
                }

                if (this.radios2.value === 2) {
                    level++;
                }

                this.level = level;
            }
        }
    }
</script>