<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
            <slider :min="slider1.min" :max="slider1.max" :value="slider1.value" :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.numberOfJudges}}</p>
            <slider :min="slider2.min" :max="slider2.max" :value="slider2.value" :dimension="constants.persons"
                    @onSlide="setValue($event, slider2)"></slider>
            <p>{{item.judgesSalary}}</p>
            <slider :min="slider3.min" :max="slider3.max" :value="slider3.value" :dimension="constants.uahPerMonth"
                    @onSlide="setValue($event, slider3)">
            </slider>

            <p>{{item.otherExpOnJudges}}</p>
            <slider :min="slider4.min" :max="slider4.max" :value="slider4.value" :dimension="constants.uahPerMonth"
                    @onSlide="setValue($event, slider4)"></slider>

        </section>

        <section>
            <p>{{item.numberOfPolice}}</p>
            <slider :min="slider5.min" :max="slider5.max" :value="slider5.value" :dimension="constants.persons"
                    @onSlide="setValue($event, slider5)"></slider>
            <p>{{item.policeSalary}}</p>
            <slider :min="slider6.min" :max="slider6.max" :value="slider6.value" :dimension="constants.uahPerMonth"
                    @onSlide="setValue($event, slider6)"></slider>
        </section>

        <section>
            <p>{{item.numberOfNG}}</p>
            <slider :min="slider7.min" :max="slider7.max" :value="slider7.value" :dimension="constants.persons"
                    @onSlide="setValue($event, slider7)"></slider>
            <p>{{item.NGSalary}}</p>
            <slider :min="slider8.min" :max="slider8.max" :value="slider8.value" :dimension="constants.uahPerMonth"
                    @onSlide="setValue($event, slider8)"></slider>
        </section>

        <section>
            <p>{{item.numberOfProsecutors}}</p>
            <slider :min="slider9.min" :max="slider9.max" :value="slider9.value"
                    @onSlide="setValue($event, slider9)"></slider>
            <p>{{item.prosecutorsSalary}}</p>
            <slider :min="slider10.min" :max="slider10.max" :value="slider10.value" :dimension="constants.uahPerMonth"
                    @onSlide="setValue($event, slider10)"></slider>
        </section>

        <section>
            <p>{{item.cancel}}</p>
            <checkbox :values="checkboxes1.values" :value="checkboxes1.value" @onCheckbox="setValue($event, checkboxes1)"></checkbox>
        </section>

        <section>
            <p>{{constants.otherExpenditures}}
                <!--span class="tooltip">
                    <span class="tooltiptext">Пояснення</span><i class="fa fa-info-circle" aria-hidden="true"></i></span-->
            </p>

            <input type="text" :value="(input1.value/1000000).toFixed()"> {{constants.bn}} {{constants.uah}}
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'
    import Checkbox from './../components/Checkbox.vue'

    export default {
        name: 'LawEnforcement',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio,
            'checkbox': Checkbox,
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                budget: 86550580478.56,
                // Загальні видатки
                slider1: {
                    value: 86550,
                    max: 300000,
                    min: 100,
                },
                // судді кількість
                slider2: {
                    value: 7855,
                    def: 7855,
                    min: 100,
                    max: 20000,
                },
                // ЗП суддів
                slider3: {
                    value: 34572.36,
                    def: 34572.36,
                    min: 3000,
                    max: 80000,
                },
                //  Інші видатки на суди в розрахунку на одного суддю
                slider4: {
                    value: 68168.48,
                    def: 68168.48,
                    min: 5000,
                    max: 150000,
                },
                // кількість МВС службовців
                slider5: {
                    value: 127786,
                    def: 127786,
                    min: 30000,
                    max: 600000,
                },
                // ЗП МВС службовців
                slider6: {
                    value: 6891.57,
                    def: 6891.57,
                    min: 3000,
                    max: 30000,
                },
                // Правопорядок інші видатки в розрахунку на службовця
                input1: {
                    value: 42550307702,
                    def: 42550307702,
                    /*value: 27507527469,
                    def: 27507527469,*/
                },

                // кількість Нацгвардія службовці
                slider7: {
                    value: 45758,
                    def: 45758,
                    min: 10000,
                    max: 200000,
                },
                // ЗП Нацгвардія службовці
                slider8: {
                    value: 11760.88,
                    def: 11760.88,
                    min: 3000,
                    max: 30000,
                },
                // кількість Прокурори
                slider9: {
                    value: 10599,
                    def: 10599,
                    min: 1000,
                    max: 20000,
                },
                // ЗП Прокурори
                slider10: {
                    value: 21426.3,
                    def: 21426.3,
                    min: 3000,
                    max: 60000,
                },
                //СКАСУВАТИ
                checkboxes1: {
                    value: [1, 2, 3],
                    def: [1, 2, 3],
                    values: [
                        {
                            label: this.item.SBU,
                            value: 1,
                            amount: 6015,
                            def: 6015,
                            info: `+ $$ ${this.constants.bn} ${this.constants.uah}`
                        },
                        {
                            label: this.item.SSSA,
                            value: 2,
                            amount: 811,
                            def: 811,
                            info: `+ $$ ${this.constants.bn} ${this.constants.uah}`
                        },
                        {
                            label: this.item.NABU,
                            value: 3,
                            amount: 773,
                            def: 773,
                            info: `+ $$ ${this.constants.bn} ${this.constants.uah}`
                        }
                    ]
                },
                total: 0,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider1.value,
                    total: this.total,

                    numberOfJudges: +this.slider2.value,
                    salaryOfJudges: this.slider3.value,

                    numberOfPolice: +this.slider5.value,
                    salaryOfPolice: this.slider6.value,

                    numberOfNationGuard: +this.slider7.value,
                    salaryOfNationGuard: this.slider8.value,

                    numberOfProsecutors: +this.slider9.value,
                    salaryOfProsecutors: this.slider10.value,

                    cancel: this.checkboxes1,
                    other: this.input1.value,
                };
            },
            toDefault() {
                this.slider1.value = (this.budget / 1000000).toFixed();
                this.slider2.value = this.slider2.def;
                this.slider3.value = this.slider3.def;
                this.slider4.value = this.slider4.def;
                this.slider5.value = this.slider5.def;
                this.slider6.value = this.slider6.def;
                this.input1.value = this.input1.def;

                this.slider7.value = this.slider7.def;
                this.slider8.value = this.slider8.def;
                this.slider9.value = this.slider9.def;
                this.slider10.value = this.slider10.def;
                this.checkboxes1.value = this.checkboxes1.def;

                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;

                this.checkboxes1.values[0].amount = this.checkboxes1.values[0].def;
                this.checkboxes1.values[1].amount = this.checkboxes1.values[1].def;
                this.checkboxes1.values[2].amount = this.checkboxes1.values[2].def;

                //this.input1.value = this.input1.def;

                // D6
                sum += +this.slider2.value * +this.slider3.value * 12 * 1.22;

                //D7
                sum += +this.slider2.value * +this.slider4.value * 12;

                //D8
                sum += +this.slider5.value * +this.slider6.value * 12 * (1.22+0.18);

                // ##############
                //D9
                sum += +this.slider7.value * +this.slider8.value * 12 * 1.22;
                //console.log(+this.slider7.value, +this.slider8.value, sum, +this.slider7.value * +this.slider8.value * 12 * 1.22);
                //D10
                sum += +this.slider9.value * +this.slider10.value * 12 * 1.22;

                if (this.checkboxes1.value.indexOf(1) !== -1) {
                    sum += 6015372000;
                }
                if (this.checkboxes1.value.indexOf(2) !== -1) {
                    sum += 811918000;
                }
                if (this.checkboxes1.value.indexOf(3) !== -1) {
                    sum += 773556800;
                }
                // #############

                //sum += this.input1.def;
                sum += +this.input1.value;

                //console.log('охорона правопорядку', sum);
                this.slider1.value = (sum/1000000).toFixed();
                this.total = sum;
                this.$emit('onCalcLawEnforcement', {amount: +sum.toFixed(2), data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;

                let I6 = 3975725020*(slider/budget);
                let I7 = 6425560560*(slider/budget);
                let I8 = 14794848037*(slider/budget);
                // ###########
                let I9 = 7886849376*(slider/budget);
                let I10 = 3324705258*(slider/budget);
                // ###########
                let I21 = this.input1.def * (slider/budget);

                this.slider3.value = (I6/this.slider2.def/1.22/12).toFixed();
                this.slider4.value = (I7/this.slider2.def/1.22/12).toFixed();
                this.slider6.value = (I8/this.slider5.def/1.22/12).toFixed();

                this.slider8.value = (I9/this.slider7.def/1.22/12).toFixed();
                this.slider10.value = (I10/this.slider9.def/1.22/12).toFixed();

                this.checkboxes1.values[0].amount = (6015372000*(slider/budget)/1000000).toFixed();
                this.checkboxes1.values[1].amount = (811918000*(slider/budget)/1000000).toFixed();
                this.checkboxes1.values[2].amount = (773556800*(slider/budget)/1000000).toFixed();

                this.input1.value = (I21).toFixed();
                this.total = slider;
                this.$emit('onCalcLawEnforcement', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>