<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>

        <section>
            <p>{{constants.totalExpenditures}}</p>
            <slider :min="slider1.min" :max="slider1.max" :value="slider1.value" :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>

        <section>
            <p>{{item.stateFundedMedication}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>

        <section>
            <p>{{item.OopPayment}}</p>
            <div class="tooltip">
                <span class="tooltiptext warning">{{constants.alertCannotChange}}</span>
                <input type="text" v-model="input2.value" readonly="readonly"> {{constants.uah}}
            </div>
        </section>

        <section>
            <p>{{item.medicalSalary}}</p>
            <slider :min="slider3.min" :max="slider3.max" :value="slider3.value" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider3)"></slider>
        </section>

        <section>
            <p>{{item.closeInstitutions}}</p>
            <checkbox :values="checkboxes1.values" :value="checkboxes1.value" @onCheckbox="setValue($event, checkboxes1)"></checkbox>
        </section>

        <section>
            <p>{{item.other}}</p>
            <div class="tooltip">
                <span class="tooltiptext warning">{{constants.alertCannotChange}}</span>
                <input type="text" :value="(input1.value/1000000).toFixed()" readonly="readonly"> {{constants.bn}} {{constants.uah}}
            </div>
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'
    import Checkbox from './../components/Checkbox.vue'

    export default {
        name: 'Medicine',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio,
            'checkbox': Checkbox,
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                //budget: 177347672201,
                budget: 99112910921,
                // Загальні видатки
                slider1: {
                    value: 99112,
                    max: 600000,
                    min: 100,
                },
                radios1: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: this.item.patientFunded,
                            value: 1
                        },
                        {
                            label: this.item.stateFunded,
                            value: 2
                        }
                    ]
                },
                // Out of pocket payments 0-50-500-5000 (в місяць),
                input2: {
                    value: 570.00,
                    def: 570.00,
                },
                // Зар. плата мед. працівника
                slider3: {
                    value: 5658,
                    def: 5658,
                    min: 3000,
                    max: 15000
                },
                // Спеціальне медичне обслуговування окремих груп населення
                checkboxes1: {
                    value: [1, 2, 3, 4],
                    def: [1, 2, 3, 4],
                    values: [
                        {
                            label: this.item.SAA,
                            value: 1,
                            amount: 642,
                            def: 642,
                        },
                        {
                            label: this.item.MIA,
                            value: 2,
                            amount: 1137,
                            def: 1137,
                        },
                        {
                            label: this.item.NAS,
                            value: 3,
                            amount: 65,
                            def: 65,
                        },
                        {
                            label: this.item.NG,
                            value: 4,
                            amount: 56,
                            def: 56,
                        }
                    ]
                },

                input1: {
                    value: 44518283321,
                    def: 44518283321,
                },

                total: 0,
                oldSalary: 45889548480,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider1.value,
                    total: this.total,
                    treatment: this.radios1.value,
                    salary: this.slider3.value,
                    pocket: this.input2.value,
                    special: this.checkboxes1,
                    other: this.input1.value
                };
            },
            toDefault() {
                this.slider1.value = (this.budget/1000000).toFixed();
                this.slider3.value = this.slider3.def;
                this.radios1.value = this.radios1.def;
                this.checkboxes1.value = this.checkboxes1.def;
                this.checkboxes1.values[0].amount = this.checkboxes1.values[0].def;
                this.checkboxes1.values[1].amount = this.checkboxes1.values[1].def;
                this.checkboxes1.values[2].amount = this.checkboxes1.values[2].def;
                this.checkboxes1.values[3].amount = this.checkboxes1.values[3].def;
                this.input1.value = this.input1.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;

                //this.input1.value = this.input1.def;
                //this.input2.value = this.input2.def;

                this.checkboxes1.values[0].amount = this.checkboxes1.values[0].def;
                this.checkboxes1.values[1].amount = this.checkboxes1.values[1].def;
                this.checkboxes1.values[2].amount = this.checkboxes1.values[2].def;
                this.checkboxes1.values[3].amount = this.checkboxes1.values[3].def;

                if (this.radios1.value === 2) {
                    sum += 85037784000;
                } else {
                    sum += 6803022720;
                }

                sum += this.slider3.value * 12 * 1.22 * 554000;
                this.oldSalary = this.slider3.value * 12 * 1.22 * 554000;
                //console.log('this.oldSalary', this.oldSalary);

                //console.log(this.checkboxes1.value);
                if (this.checkboxes1.value.indexOf(1) !== -1) {
                    sum += 642714600;
                }

                if (this.checkboxes1.value.indexOf(2) !== -1) {
                    sum += 1137951800;
                }

                if (this.checkboxes1.value.indexOf(3) !== -1) {
                    sum += 65285000;
                }

                if (this.checkboxes1.value.indexOf(4) !== -1) {
                    sum += 56105000;
                }

                //sum += this.input1.def;
                sum += +this.input1.value;

                let diff = 197166250022 - sum;
                //console.log('diff', diff, sum);
                this.input2.value = diff > 0 ? (diff / 34769434).toFixed(2) : 0;

                //console.log('medicine', sum); //  177,347,672,201
                this.slider1.value = (sum/1000000).toFixed();
                this.total = sum;
                this.$emit('onCalcMedicine', {amount: +sum, data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;

                let J5 = 85037784000*(slider/budget);
                //let K5 = (J5 / 34799299).toFixed();
                let J9 = 45889548480*(slider/budget);
                //let J9 = this.oldSalary*(slider/budget);

                this.slider3.value = (J9/554000/12/1.22).toFixed();
                //this.checkboxes1.value = this.checkboxes1.def;

                this.checkboxes1.values[0].amount = (642714600*(slider/budget)/1000000).toFixed();
                this.checkboxes1.values[1].amount = (1137951800*(slider/budget)/1000000).toFixed();
                this.checkboxes1.values[2].amount = (65285000*(slider/budget)/1000000).toFixed();
                this.checkboxes1.values[3].amount = (56105000*(slider/budget)/1000000).toFixed();

                this.input1.value = (this.input1.def*(slider/budget)).toFixed();

                let diff = 197166250022 - slider;
                //console.log('diff', diff, sum);
                this.input2.value = diff > 0 ? (diff / 34769434).toFixed(2) : 0;
                this.total = slider;
                this.$emit('onCalcMedicine', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>