<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
        <slider :min="slider1.min" :max="slider1.max" :value="slider1.value" :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.environmentProtection}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>
        <section>
            <p>{{item.HRS}}</p>
            <radio :values="radios2.values" :value="radios2.value" @onRadio="setValue($event, radios2)"></radio>
        </section>
        <section>
            <p>{{item.RCR}}</p>
            <radio :values="radios3.values" :value="radios3.value" @onRadio="setValue($event, radios3)"></radio>
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'

    export default {
        name: 'Other',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                budget: 59400156580.95,
                // Загальні видатки,
                slider1: {
                    value: 59400,
                    min: 1,
                    max: 200000,
                },
                // Екологія
                radios1: {
                    value: 2,
                    def: 2,
                    values: [
                        {
                            label: this.constants.cancel,
                            value: 1,
                        },
                        {
                            label: `${this.constants.leave} (+ $$ ${this.constants.bn} ${this.constants.uah})`,
                            value: 2,
                            amount: 8507,
                            def: 8507,
                        }
                    ]
                },
                // ЖКГ
                radios2: {
                    value: 2,
                    def: 2,
                    values: [
                        {
                            label: this.constants.cancel,
                            value: 1,
                        },
                        {
                            label: `${this.constants.leave} (+ $$ ${this.constants.bn} ${this.constants.uah})`,
                            value: 2,
                            amount: 26111,
                            def: 26111,
                        }
                    ]
                },
                // Культура
                radios3: {
                    value: 2,
                    def: 2,
                    values: [
                        {
                            label: this.constants.cancel,
                            value: 1,
                        },
                        {
                            label: `${this.constants.leave} (+ $$ ${this.constants.bn} ${this.constants.uah})`,
                            value: 2,
                            amount: 24781,
                            def: 24781,
                        }
                    ]
                },
                ecol: 8507388267.41,
                serv: 26111549940.9,
                cult: 24781218372.64,
                total: 0,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider1.value,
                    total: this.total,
                    ecology: this.radios1.value,
                    utilities: this.radios2.value,
                    cultures: this.radios3.value,
                };
            },
            toDefault() {
                this.slider1.value = (this.budget/1000000).toFixed();
                this.radios1.value = this.radios1.def;
                this.radios2.value = this.radios2.def;
                this.radios3.value = this.radios3.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;
                //this.slider1.value = this.budget;
                this.radios1.values[1].amount = this.radios1.values[1].def;
                this.radios2.values[1].amount = this.radios2.values[1].def;
                this.radios3.values[1].amount = this.radios3.values[1].def;

                if (this.radios1.value === 2) {
                    sum += this.ecol;
                }

                if (this.radios2.value === 2) {
                    sum += this.serv;
                }

                if (this.radios3.value === 2) {
                    sum += this.cult;
                }

                //console.log(sum);
                this.total = sum;
                this.slider1.value = (sum/1000000).toFixed();
                this.$emit('onCalcOther', {amount: +sum, data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;

                this.radios1.values[1].amount = ((slider * this.ecol / budget)/1000000).toFixed();
                this.radios2.values[1].amount = ((slider * this.serv / budget)/1000000).toFixed();
                this.radios3.values[1].amount = ((slider * this.cult / budget)/1000000).toFixed();

                //this.radios1.value = 2;
                //this.radios2.value = 2;
                //this.radios3.value = 2;

                //this.slider1.value = (sum/1000000).toFixed();
                this.total = slider;
                this.$emit('onCalcOther', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>