<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
        <slider :min="slider1.min" :max="slider1.max" :value="slider1.value" :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.averagePension}}</p>
            <slider :min="slider2.min" :max="slider2.max" :value="slider2.value" :dimension="constants.uahPerMonth"  @onSlide="setValue($event, slider2)"></slider>
        </section>
        <section>
            <p>{{item.ageYears}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>
        <section>
            <p>{{item.specialPensionSize}}</p>
            <checkbox :values="checkboxes1.values" :value="checkboxes1.value" @onCheckbox="setValue($event, checkboxes1)"></checkbox>
        </section>
    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'
    import Checkbox from './../components/Checkbox.vue'

    export default {
        name: 'Pensions',
        props: ['constants', 'item'],
        components: {
            'slider': Slider,
            'radio': Radio,
            'checkbox': Checkbox,
        },
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                budget: 280034993280.87,
                // Загальні видатки
                slider1: {
                    value: 280034,
                    min: 1000,
                    max: 1000000
                },
                // Розмір середньої звичайної пенсії
                slider2: {
                    value: 1852,
                    def: 1852,
                    min: 900,
                    max: 4000
                },
                // Пенсійний вік - стаж
                radios1: {
                    value: 1,
                    def: 1,
                    values: [
                        {
                            label: '60 - 15',
                            value: 1
                        },
                        {
                            label: '65 - 15',
                            value: 2
                        },
                        {
                            label: '60 - 35',
                            value: 3
                        },
                        {
                            label: '55 - 15',
                            value: 4
                        }
                    ]
                },
                // Скасування спец. пенсій
                checkboxes1: {
                    value: [1, 2, 3, 4, 5],
                    def: [1, 2, 3, 4, 5],
                    values: [
                        {
                            label: this.item.civilServants,
                            value: 1,
                            amount: 3725.557,
                            def: 3725.557,
                            amount2: 6308,
                            def2: 6308,
                            info: `$$ ${this.constants.uahPerMonth} (## ${this.constants.bn} ${this.constants.uah})`
                        },
                        {
                            label: this.item.judges,
                            value: 2,
                            amount: 24129,
                            def: 24129,
                            amount2: 780,
                            def2: 780,
                            info: `$$ ${this.constants.uahPerMonth} (## ${this.constants.bn} ${this.constants.uah})`
                        },
                        {
                            label: this.item.prosecutors,
                            value: 3,
                            amount: 10270,
                            def: 10270,
                            amount2: 717,
                            def2: 717,
                            info: `$$ ${this.constants.uahPerMonth} (## ${this.constants.bn} ${this.constants.uah})`
                        },
                        {
                            label: this.item.MPs,
                            value: 4,
                            amount: 16607,
                            def: 16607,
                            amount2: 193,
                            def2: 193,
                            info: `$$ ${this.constants.uahPerMonth} (## ${this.constants.bn} ${this.constants.uah})`
                        },
                        {
                            label: this.item.otherExpenditures,
                            value: 5,
                            amount: 2770,
                            def: 2770,
                            amount2: 6308,
                            def2: 30321,
                            info: `$$ ${this.constants.uahPerMonth} (## ${this.constants.bn} ${this.constants.uah})`
                        }
                    ]
                },
                total: 0,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider1.value,
                    total: this.total,
                    size: this.slider2.value,
                    age: this.radios1.value,
                    specialPensions: this.checkboxes1.value
                };
            },
            toDefault() {
                this.slider1.value = (this.budget/1000000).toFixed();
                this.slider2.value = this.slider2.def;
                this.radios1.value = this.radios1.def;
                this.checkboxes1.value = this.checkboxes1.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider1) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;

                this.checkboxes1.values[0].amount = this.checkboxes1.values[0].def;
                this.checkboxes1.values[1].amount = this.checkboxes1.values[1].def;
                this.checkboxes1.values[2].amount = this.checkboxes1.values[2].def;
                this.checkboxes1.values[3].amount = this.checkboxes1.values[3].def;
                this.checkboxes1.values[4].amount = this.checkboxes1.values[4].def;

                this.checkboxes1.values[0].amount2 = this.checkboxes1.values[0].def2;
                this.checkboxes1.values[1].amount2 = this.checkboxes1.values[1].def2;
                this.checkboxes1.values[2].amount2 = this.checkboxes1.values[2].def2;
                this.checkboxes1.values[3].amount2 = this.checkboxes1.values[3].def2;
                this.checkboxes1.values[4].amount2 = this.checkboxes1.values[4].def2;

                let C11 = 0;

                if (this.radios1.value === 1) {
                    C11 = this.slider2.value * 12 * 10876272;
                } else if (this.radios1.value === 2) {
                    C11 = this.slider2.value * 12 * 7511633;
                } else if (this.radios1.value === 3) {
                    C11 = this.slider2.value * 12 * 9362184;
                } else {
                    C11 = this.slider2.value * 12 * 13344044;
                }

                let C14 = 0, D14;
                if (this.checkboxes1.value.indexOf(1) === -1) {
                    D14 = this.slider2.value;
                } else {
                    D14 = 3725.557;
                }
                if (this.radios1.value === 1) {
                    C14 = D14 * 12 * 141108;
                } else if (this.radios1.value === 2) {
                    C14 = D14 * 12 * 138286;
                } else if (this.radios1.value === 3) {
                    C14 = D14 * 12 * 141108;
                } else {
                    C14 = D14 * 12 * 175140;
                }

                let C16 = 0, D16;
                if (this.checkboxes1.value.indexOf(2) === -1) {
                    D16 = this.slider2.value;
                } else {
                    D16 = 24129.82;
                }
                if (this.radios1.value === 1) {
                    C16 = D16 * 12 * 2696;
                } else if (this.radios1.value === 2) {
                    C16 = D16 * 12 * 2642;
                } else if (this.radios1.value === 3) {
                    C16 = D16 * 12 * 2696;
                } else {
                    C16 = D16 * 12 * 2696;
                }

                let C17 = 0, D17;
                if (this.checkboxes1.value.indexOf(3) === -1) {
                    D17 = this.slider2.value;
                } else {
                    D17 = 10270.744;
                }
                if (this.radios1.value === 1) {
                    C17 = D17 * 12 * 5819;
                } else if (this.radios1.value === 2) {
                    C17 = D17 * 12 * 5703;
                } else if (this.radios1.value === 3) {
                    C17 = D17 * 12 * 5819;
                } else {
                    C17 = D17 * 12 * 5819;
                }

                let C18 = 0, D18;
                if (this.checkboxes1.value.indexOf(4) === -1) {
                    D18 = this.slider2.value;
                } else {
                    D18 = 16607.833;
                }
                if (this.radios1.value === 1) {
                    C18 = D18 * 12 * 969;
                } else if (this.radios1.value === 2) {
                    C18 = D18 * 12 * 950;
                } else if (this.radios1.value === 3) {
                    C18 = D18 * 12 * 969;
                } else {
                    C18 = D18 * 12 * 969;
                }

                let C19 = 0, D19;
                if (this.checkboxes1.value.indexOf(5) === -1) {
                    D19 = this.slider2.value;
                } else {
                    D19 = 2770.666;
                }
                if (this.radios1.value === 1) {
                    C19 = D19 * 12 * 911974;
                } else if (this.radios1.value === 2) {
                    C19 = D19 * 12 * 893735;
                } else if (this.radios1.value === 3) {
                    C19 = D19 * 12 * 911974;
                } else {
                    C19 = D19 * 12 * 911974;
                }

                sum = C11 + C14 + C16 + C17 + C18 + C19;

                //console.log('pensions', sum);
                this.slider1.value = (sum/1000000).toFixed();
                this.total = sum;
                this.$emit('onCalcPensions', {amount: +sum.toFixed(2), data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider1.value * 1000000;

                let H11 = (slider / budget) * 208060983125;

                this.slider2.value = +(H11/10876272/12).toFixed();
                let H14 = 6308470766*(slider/budget);
                let H16 = 780647937*(slider/budget);
                let H17 = 717185512*(slider/budget);
                let H18 = 193115882*(slider/budget);
                let H19 =  30321303969*(slider/budget);

                this.checkboxes1.value = this.checkboxes1.def;

                this.checkboxes1.values[0].amount = (H14/141108/12).toFixed();
                this.checkboxes1.values[1].amount = (H16/2696/12).toFixed();
                this.checkboxes1.values[2].amount = (H17/5819/12).toFixed();
                this.checkboxes1.values[3].amount = (H18/969/12).toFixed();
                this.checkboxes1.values[4].amount = (H19/911974/12).toFixed();

                this.checkboxes1.values[0].amount2 = (H14/1000000).toFixed();
                this.checkboxes1.values[1].amount2 = (H16/1000000).toFixed();
                this.checkboxes1.values[2].amount2 = (H17/1000000).toFixed();
                this.checkboxes1.values[3].amount2 = (H18/1000000).toFixed();
                this.checkboxes1.values[4].amount2 = (H19/1000000).toFixed();

                this.total = slider;
                this.$emit('onCalcPensions', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>