<template>
    <div>
        <section>
            <button type="button" @click="toDefault()">{{constants.toBeginBtn}}</button>
        </section>
        <section>
            <p>{{constants.totalExpenditures}}</p>
            <slider :min="slider6.min" :max="slider6.max" :value="slider6.value"  :dimension="constants.bn + ' ' + constants.uah" @onSlide="setValue($event, slider6)"></slider>
        </section>
        <section>
            <p>{{item.helpForPoor}}</p>
            <slider :min="slider1.min" :max="slider1.max" :value="slider1.value" :step="slider2.step" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider1)"></slider>
        </section>
        <section>
            <p>{{item.housingSubsidies}}</p>
            <slider :min="slider2.min" :max="slider2.max" :value="slider2.value" :step="slider2.step" :dimension="constants.uahPerMonth" @onSlide="setValue($event, slider2)"></slider>
        </section>
        <section>
            <p>{{item.birthAid}}</p>
            <slider :min="slider3.min" :max="slider3.max" :value="slider3.value" :dimension="constants.uah" @onSlide="setValue ($event, slider3)"></slider>
            <p>{{item.durationOfBirthGrants}}</p>
            <slider :min="slider7.min" :max="slider7.max" :value="slider7.value" :dimension="constants.month" @onSlide="setValue($event, slider7)"></slider>
            <p>{{item.birthAidSingle}}</p>
            <!--slider :min="slider4.min" :max="slider4.max" :value="slider4.value" dimension="міс" @onSlide="setValue($event, slider4)"></slider-->
            <input type="text" :value="input1.value" readonly="readonly"> {{constants.uah}}
        </section>
        <section>
            <p>{{item.otherHelp}}</p>
            <slider :min="slider5.min" :max="slider5.max" :value="slider5.value" :step="slider2.step" :dimension="constants.uah" @onSlide="setValue($event, slider5)"></slider>
        </section>
        <section>
            <p>{{item.reforms}}</p>
            <radio :values="radios2.values" :value="radios2.value" @onRadio="setValue($event, radios2)"></radio>
        </section>
        <section v-show="radios2.value === 4">
            <p>{{item.povertyLine}}</p>
            <radio :values="radios1.values" :value="radios1.value" @onRadio="setValue($event, radios1)"></radio>
        </section>

    </div>
</template>

<script>
    import Slider from './../components/Slider.vue'
    import Radio from './../components/Radio.vue'
    
    export default {
        name: 'SocialExpenditures',
        components: {
            'slider': Slider,
            'radio': Radio
        },
        props: ['constants', 'item'],
        mounted() {
            this.calcBlock1();
        },
        data() {
            return {
                //budget: 145657316652,
                budget: 145420650560.72,
                // Допомога малозабезпеченим
                slider1: {
                    def: 2237.39,
                    value: 2237.39,
                    min: 1000,
                    max: 5000,
                    step: 0.01
                },
                // Житлові субсидії
                slider2: {
                    def: 810,
                    value: 810,
                    min: 300,
                    max: 3000,
                    step: 0.02
                },
                // Допомога по народженню (36 міс)
                slider3: {
                    def: 41280,
                    value: 41280,
                    min: 20000,
                    max: 80000
                },
                // Допомога по народженню разова %
                slider4: {
                    def: 860,
                    value: 860,
                    min: 300,
                    max: 5000
                },
                // Інші допомоги та діяльність у сфері соціального захисту
                slider5: {
                    def: 674.64,
                    value: 674.64,
                    min: 250,
                    max: 3000,
                    step: 0.2
                },
                // Встановити межу доходу для отримання допомоги
                radios1: {
                    def: 0.2,
                    value: 0.2,
                    values: [
                        {
                            label: "2000 " + this.constants.uah,
                            value: 0.2
                        },
                        {
                            label: "3000 " + this.constants.uah,
                            value: 0.4
                        },
                        {
                            label: "3700 " + this.constants.uah,
                            value: 0.6
                        }
                    ]
                },
                // Реформы
                radios2: {
                    def: 1,
                    value: 1,
                    values: [
                        {
                            label: this.item.reform1,
                            value: 1
                        },
                        {
                            label: this.item.reform2,
                            value: 2
                        },
                        {
                            label: this.item.reform3,
                            value: 3
                        },
                        {
                            label: this.item.reform4,
                            value: 4
                        }
                    ]
                },
                // Загальні видатки
                slider6: {
                    value: 145420,
                    max: 800000,
                    min: 100
                },
                // Тривалість виплат при народженні
                slider7: {
                    def: 36,
                    value: 36,
                    max: 120,
                    min: 1
                },
                input1: {
                    value: 860,
                    def: 860
                },
                total: 0,
            }
        },
        methods: {
            getData() {
                return {
                    budget: this.slider6.value,
                    total: this.total,
                    helpThePoor: this.slider1.value,
                    housingSubsidies: this.slider2.value,
                    birthAid: this.input1.value,
                    percent: this.radios1.value,
                    reform: this.radios2.value,
                    otherHelp: this.slider5.value,
                    durationOfBirthGrants: this.slider7.value,
                    help36month: this.slider3.value,
                };
            },
            toDefault() {
                this.slider1.value = this.slider1.def;
                this.slider2.value = this.slider2.def;
                this.slider3.value = this.slider3.def;
                this.slider4.value = this.slider4.def;
                this.slider5.value = this.slider5.def;
                this.slider7.value = this.slider7.def;
                this.slider6.value = (this.budget/1000000).toFixed();
                this.slider1.value =  this.slider1.def;
                this.radios1.value = this.radios1.def;
                this.radios2.value = this.radios2.def;
                this.input1.value = this.input1.def;
                this.calcBlock1();
            },
            setValue(v, obj) {
                obj.value = v;
                if (obj === this.slider6) {
                    this.calcBlock2();
                } else {
                    this.calcBlock1();
                }
            },
            calcBlock1() {
                let sum = 0;
                // Допомога малозабезпеченим
                let C6 = 0;
                if (this.radios2.value === 1) {
                    C6 = this.slider1.value * 335700 * 12;
                } else if (this.radios2.value === 2) {
                    C6 = this.slider1.value * 228276 * 12;
                } else if (this.radios2.value === 3) {
                    C6 = this.slider1.value * 181708 * 12;
                } else if (this.radios2.value === 4){
                    C6 = this.slider1.value * 14985600 * this.radios1.value * 12;
                }

                // Житлові субсидії
                let C7 = 0;
                if (this.radios2.value === 1) {
                    C7 = this.slider2.value * 6548646 * 12;
                } else if (this.radios2.value === 2) {
                    C7 = this.slider2.value * 2030080 * 12;
                } else if (this.radios2.value === 3) {
                    C7 = this.slider2.value * 1615944 * 12;
                } else if (this.radios2.value === 4){
                    C7 = this.slider2.value * 14985600 * this.radios1.value * 12;
                }

                let D9 = 0.25;

                // Допомога по народженню разова (%)
                let C9 = 0;
                if (this.radios2.value === 1) {
                    C9 = this.slider3.value * 397039 * D9;
                } else if (this.radios2.value === 2) {
                    C9 = this.slider3.value * 206460 * D9;
                } else if (this.radios2.value === 3) {
                    C9 = this.slider3.value * 164342 * D9;
                } else if (this.radios2.value === 4) {
                    C9 = this.slider3.value * 397039 * this.radios1.value;
                }

                //console.log(D9, C9);

                // Допомога по народженню
                let C29 = 6468245760;
                // Допомога по народженню щомісячна
                let val;
                if (this.slider7.value > 11) val = 5.5;
                else if (this.slider7.value === 10) val = 5.416;
                else if (this.slider7.value === 9) val = 5.25;
                else if (this.slider7.value === 8) val = 5;
                else if (this.slider7.value === 7) val = 4.666;
                else if (this.slider7.value === 6) val = 4.25;
                else if (this.slider7.value === 5) val = 3.75;
                else if (this.slider7.value === 4) val = 3.1667;
                else if (this.slider7.value === 3) val = 2.5;
                else if (this.slider7.value === 2) val = 1.75;
                else val = 10;
                //console.log('val', val);
                //let D10 = this.slider4.value;
                let D10 = ((this.slider3.value - D9 * this.slider3.value)/this.slider7.value).toFixed();
                //this.input1.value = D10;
                 this.input1.value = 0.25 * this.slider3.value;
                //console.log('D10', D10);
                let C10 = C29;

                if (this.radios2.value === 1) {
                    C10 += 397039 * D10 * val;
                } else if (this.radios2.value === 2) {
                    C10 += 206460 * D10 * val;
                } else if (this.radios2.value === 3) {
                    C10 += 164342 * D10 * val;
                } else if (this.radios2.value === 4){
                    C10 += 397039 * D10 * val * this.radios1.value;
                }

                let C8 = C9 + C10;

                // Інші допомоги та діяльність у сфері соціального зазисту
                let C12 = 0;
                if (this.radios2.value === 1) {
                    C12 = 7449779 * this.slider5.value * 12;
                } else if (this.radios2.value === 2) {
                    C12 = 3873895 * this.slider5.value * 12;
                } else if (this.radios2.value === 3) {
                    C12 = 3083621 * this.slider5.value * 12;
                } else if (this.radios2.value === 4){
                    C12 = 14985600 * this.radios1.value * this.slider5.value * 12;
                }

                sum = C6 + C7 + C8 + C12;

                /*console.log('C6', C6, this.slider1.value);
                console.log('C7', C7, this.slider2.value);
                console.log('C8', C8);
                console.log('C9', C9, this.slider3.value);
                console.log('C10', C10);
                console.log('C12', C12);*/

                //console.log('соц допомога', sum);
                this.slider6.value = (sum/1000000).toFixed();
                this.total = sum;
                this.$emit('onCalcSocialExpenditures', {amount: +sum.toFixed(2), data: this.getData()});
            },
            calcBlock2() {
                let budget = this.budget;
                let slider = this.slider6.value * 1000000;

                this.slider1.value = ((slider * 9013101876/budget)/335700/12).toFixed();
                this.slider2.value = ((slider *  63655813700 /budget)/6548646/12).toFixed();
                //console.log(slider *  63655813700 /budget);
                let H8 = (slider/budget) * 12443682710;
                let H9 = (H8 - 6468245760)/(12443682710-6468245760) * 4097442480;
                let I9 = H9/ 397039;
                let H10 = H8 - H9;
                let I10 = (H10 - 6468245760)/ 397039/5.5;
                
                this.slider3.value = (I9 + I10 * 36).toFixed();
                this.input1.value = (this.slider3.value*0.25).toFixed();

                this.slider5.value = ((slider * 60310815944.45/budget)/7449799/12).toFixed();
                this.total = slider;
                this.$emit('onCalcSocialExpenditures', {amount: +slider, data: this.getData()});
            }
        }
    }
</script>