<template>
    <div class="checkbox">
        <div class="checkbox-item" v-for="item in values">
            <label :class="{active: checkboxValues.indexOf(item.value) != -1}">
                <input type="checkbox" v-model="checkboxValues" :value="item.value" @change="onCheckbox()"> <span v-html="printLabel(item)"></span>

                <span class="tooltip" v-show="item.info">
                    <span class="tooltiptext">{{printItemInfo(item)}}</span><i class="fa fa-info-circle" aria-hidden="true"></i></span>

            </label>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Checkbox',
        props: {
            values: {
                type: Array,
                default: [],
                required: true,
                validator(vals) {
                    for (let i = 0; i < vals.length; i++) {
                        if (!vals[i].hasOwnProperty('value')) {
                            console.error(`Prop 'value' in values[${i}] not found!`, vals[i]);
                            return false;
                        }
                        if (!vals[i].hasOwnProperty('label')) {
                            console.error(`Prop 'label' in values[${i}] not found!`, vals[i]);
                            return false;
                        }
                    }

                    return true;
                }
            },
            value: {
                type: Array,
                default: [],
                required: false
            }
        },
        watch: {
            value() {
                this.checkboxValues = this.value;
            }
        },
        created() {
            if (this.value !== []) {
                this.checkboxValues = this.value;
            }
        },
        data() {
            return {
                checkboxValues: []
            }
        },
        methods: {
            onCheckbox() {
                this.$emit('onCheckbox', this.checkboxValues);
            },
            printItemInfo(item) {
                if (item.info) {
                    let info = item.info;
                    if (info && info.indexOf('$$') !== -1) {
                        info = info.replace('$$', item.amount);
                    }

                    if (info && info.indexOf('##') !== -1) {
                        info = info.replace('##', item.amount2);
                    }

                    return info;
                }
            },
            printLabel(item) {
                if (item.label.indexOf('$$')) {
                    return item.label.replace('$$', item.amount);
                } else {
                    return item.label;
                }
            }
        }
    }
</script>

<style lang="less">
    .checkbox {
        padding: 8px 0;
        &-item {
            margin-bottom: 2px;
            label {
                padding-left: 32px;
                position: relative;
                input {
                    display: none;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #d6aa50;
                    border-radius: 3px;
                    top: 0;
                    left: 4px;
                }
                &.active:before {
                    background: #d6aa50;
                    box-shadow: inset 0 0 1px 2px #fff;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
</style>