<template>
    <div class="level">
        <p :style="{background: [1,2,3,4,5,6].indexOf(currentLevel) != -1 ? '#ff0300' : '#eee'}"></p>
        <p :style="{background: [2,3,4,5,6].indexOf(currentLevel) != -1 ? '#ff7400' : '#eee'}"></p>
        <p :style="{background: [3,4,5,6].indexOf(currentLevel) != -1 ? '#ffd800' : '#eee'}"></p>
        <p :style="{background: [4,5,6].indexOf(currentLevel) != -1 ? '#d8e409' : '#eee'}"></p>
        <p :style="{background: [5,6].indexOf(currentLevel) != -1 ? '#95cf18' : '#eee'}"></p>
        <p :style="{background: [6].indexOf(currentLevel) != -1 ?'#2fa32e' : '#eee'}"></p>
    </div>
</template>


<script>
    export default {
        name: 'ColorLevel',
        props: ['level'],
        data() {
            return {
                currentLevel: 0
            }
        },
        watch: {
            level() {
                this.currentLevel = +this.level;
            }
        },
        created() {
            this.currentLevel = +this.level;
        },
    }
</script>

<style lang="less">
    .level {
        margin: 10px 0;
        display: flex;
        width: 70%;
        p {
            width: 15%;
            margin-right: 1.95%;
            height: 10px;
            display: block;
            float: left;
            box-sizing: border-box;
            border-radius: 2px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 820px) {
        .level {
            width: 100%;
        }
    }
</style>