<template>
    <div class="radio">
        <div class="radio-item" v-for="item in values">
            <label :class="{active: radioValue == item.value}">
                <input type="radio" v-model="radioValue" :value="item.value" @change="onRadio()"> {{printLabel(item)}}

                <span class="tooltip" v-show="item.info">
                    <span class="tooltiptext">{{printItemInfo(item)}}</span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Radio',
        //props: ['values', 'def'],
        props: {
            values: {
                type: Array,
                default: [],
                required: true,
                validator(vals) {
                    for (let i = 0; i < vals.length; i++) {
                        if (!vals[i].hasOwnProperty('value')) {
                            console.error(`Prop 'value' in values[${i}] not found!`, vals[i]);
                            return false;
                        }
                        if (!vals[i].hasOwnProperty('label')) {
                            console.error(`Prop 'label' in values[${i}] not found!`, vals[i]);
                            return false;
                        }
                    }

                    return true;
                }
            },
            value: {
                type: Number,
                default: 0,
                required: false
            },
        },
        watch: {
            value() {
                this.radioValue = this.value;
            }
        },
        created() {
            if (this.value !== 0) {
                this.radioValue = this.value;
            } else {
                this.radioValue = this.values[0].value;
            }
        },
        data() {
            return {
                radioValue: null
            }
        },
        methods: {
            onRadio() {
                this.$emit('onRadio', this.radioValue);
            },
            printItemInfo(item) {
                if (item.info) {
                    if (item.label !== undefined && item.label.indexOf('$$')) {
                        return item.info.replace('$$', item.amount);
                    } else {
                        return item.info;
                    }
                }
            },
            printLabel(item) {
                if (item.label !== undefined && item.label.indexOf('$$')) {
                    return item.label.replace('$$', item.amount);
                } else {
                    return item.label;
                }
            }
        }
    }
</script>

<style lang="less">
    .radio {
        padding: 8px 0;
        &-item {
            margin-bottom: 2px;
            label {
                padding-left: 32px;
                position: relative;
                input {
                    display: none;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #d6aa50;
                    border-radius: 50%;
                    top: 0;
                    left: 4px;
                }
                &.active:before {
                    background: #d6aa50;
                    box-shadow: inset 0 0 1px 2px #fff;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
</style>