<template>
    <div id="slide-container">
        <div class="slide">
            <div class="bg" :style="{width: width + '%'}"></div>
            <input type="range"
                   v-model="sliderValue"
                   :min="min"
                   :max="max"
                   :step="step"
                   @input="onSlide()"
            >
        </div>
        <input type="number"
               v-model="sliderValue"
               :min="min"
               :max="max"
               :step="step"
               @input="onSlide()"> <span class="dimension">{{dimension}}</span>
    </div>
</template>

<script>
    export default {
        name: 'Slider',
        props: ['value', 'min', 'max', 'step', 'dimension'],
        /*props: {
            value: {
                type: Number,
                default: 0,
                required: false
            },
            min: {
                type: Number,
                default: 0,
                required: false
            },
            max: {
                type: Number,
                default: 100,
                required: false
            },
            step: {
                type: Number,
                default: 1,
                required: false
            },
            dimension: {
                type: String,
                default: '',
                required: false
            }
        },*/
        data() {
            return {
                sliderValue: 0,
                width: 0
            }
        },
        watch: {
            value() {
                this.sliderValue = this.value;
                this.calcWidth();
            }
        },
        created() {
            this.sliderValue = this.value;
            this.calcWidth();
        },
        methods: {
            calcWidth() {
                this.width = (((this.value - this.min) * 100) / (this.max - this.min)).toFixed(2);
                if (this.width > 100) {
                    this.width = 100;
                }
            },
            onSlide() {

                if (this.sliderValue == 0) {
                    if (this.step) {
                        if (this.step < this.min) {
                            this.sliderValue = this.step;
                        }
                    } else {
                        this.sliderValue = 1;
                    }
                }

                this.calcWidth();

                this.$emit('onSlide', this.sliderValue);
            },
        }
    }
</script>

<style lang="less">
    #slide-container {
        width: 100%;
        position: relative;
        padding: 8px 0;
        z-index: inherit;
        .slide {
            width: 70%;
            position: relative;
            input[type="range"] {
                -webkit-appearance: none;
                width: 100%;
                height: 7px;
                background: transparent;
                border: 1px solid #d6aa50;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                z-index: 1;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 10px;
                    height: 22px;
                    background: #eee;
                    cursor: pointer;
                    box-shadow: 0 0 5px rgba(33, 33, 33, .5);
                    border-radius: 3px;
                }
                &::-moz-range-thumb {
                    width: 10px;
                    height: 22px;
                    background: #eee;
                    cursor: pointer;
                    box-shadow: 0 0 5px rgba(33, 33, 33, .5);
                    border-radius: 3px;
                }

            }
            .bg {
                position: absolute;
                height: 7px;
                top: 5px;
                left: 0;
                background: #d6aa50;
                z-index: -1;
            }
        }

        input[type="number"] {
            margin-top: 8px;
        }

    }
    @media (max-width: 820px) {
        #slide-container {
            width: 100%;
            .dimension {
                position: absolute;
                bottom: 26px;
                right: 6px;
                opacity: 0.5;
            }
            .slide {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
    }
</style>