<template>
    <div id="slide-container-color">
        <div class="slide">

            <input type="range"
                   v-model="sliderValue"
                   :min="min"
                   :max="max"
                   :step="step"
                   @input="onSlide()"
            >
        </div>
        <input type="number"
               v-model="sliderValue"
               :min="min"
               :max="max"
               :step="step"
               @input="onSlide()"> <span class="dimension">{{dimension}}</span>
    </div>
</template>

<script>
    export default {
        name: 'Slider',
        props: ['value', 'min', 'max', 'step', 'dimension'],
        data() {
            return {
                sliderValue: 0,
            }
        },
        watch: {
            value() {
                this.sliderValue = this.value;
            }
        },
        created() {
            this.sliderValue = this.value;
        },
        methods: {
            onSlide() {
                this.$emit('onSlide', this.sliderValue);
            },
        }
    }
</script>

<style lang="less">
    #slide-container-color {
        width: 100%;
        position: relative;
        padding: 8px 0;
        z-index: inherit;
        .slide {
            width: 70%;
            position: relative;
            input[type="range"] {
                -webkit-appearance: none;
                width: 100%;
                height: 3px;
                background: linear-gradient(to right, #ff0300, #ff7400, #ffd800, #d8e409, #95cf18, #2fa32e);
                //border: 1px solid #d6aa50;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                z-index: 1;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 10px;
                    height: 18px;
                    background: #eee;
                    cursor: pointer;
                    box-shadow: 0 0 5px rgba(33, 33, 33, .9);
                    border-radius: 3px;
                }
                &::-moz-range-thumb {
                    width: 10px;
                    height: 18px;
                    background: #eee;
                    cursor: pointer;
                    box-shadow: 0 0 5px rgba(33, 33, 33, .9);
                    border-radius: 3px;
                }

            }
        }

        input[type="number"] {
            margin-top: 8px;
        }

    }
    @media (max-width: 820px) {
        #slide-container-color {
            width: 100%;
            .dimension {
                position: absolute;
                bottom: 26px;
                right: 6px;
                opacity: 0.5;
            }
            .slide {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
    }
</style>