<template>
    <div id="budget" @scroll="scroll">
        <section v-show="!showResults" class="expenses">
            <div class="block">
                <div :class="['item debt-service', activeItem == 'debt-service' ? 'active': '']"
                     @click="setActive('debt-service')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + debtService.imageHref" id="img-debt-svg" alt="">
                        <p class="title">{{constants.parts.debtService.title}}</p>
                        <span class="amount"><b v-html="calcValue(debtService.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>

                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'debt-service'">
                        <section>
                            <p>{{constants.parts.debtService.title}}</p>
                            <div class="tooltip">
                                <span class="tooltiptext warning">{{constants.common.alertCannotChange}}</span>
                                <input type="text" :value="((debtService.budget)/1000000).toFixed()" readonly> {{constants.common.bn}} {{constants.common.uah}}
                            </div>
                            <div class="hint" v-show="debtService.hint">
                                {{constants.common.alertCannotChange}}
                            </div>
                        </section>
                    </div>
                </transition>

                <div :class="['item social-expenditures', activeItem == 'social-expenditures' ? 'active': '']"
                     @click="setActive('social-expenditures')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + socialExpenditures.imageHref" id="img-social_expenditures-svg" alt="">
                        <p class="title">{{constants.parts.socialExpenditures.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(socialExpenditures)"></span><b
                                v-html="calcValue(socialExpenditures.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'social-expenditures'">
                        <social-expenditures :item="constants.parts.socialExpenditures" :constants="constants.common"
                                @onCalcSocialExpenditures="setBudget($event, 'socialExpenditures')"></social-expenditures>
                    </div>
                </transition>


                <div :class="['item education', activeItem == 'education' ? 'active': '']"
                     @click="setActive('education')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + education.imageHref" id="img-education-svg" alt="">
                        <p class="title">{{constants.parts.education.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(education)"></span><b
                                v-html="calcValue(education.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'education'">
                        <education :item="constants.parts.education" :constants="constants.common" @onCalcEducation="setBudget($event, 'education')"></education>
                    </div>
                </transition>


                <div :class="['item medicine', activeItem == 'medicine' ? 'active': '']" @click="setActive('medicine')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + medicine.imageHref" id="img-medicine-svg" alt="">
                        <p class="title">{{constants.parts.medicine.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(medicine)"></span><b
                                v-html="calcValue(medicine.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'medicine'">
                        <medicine :item="constants.parts.medicine" :constants="constants.common"
                                @onCalcMedicine="setBudget($event, 'medicine')"></medicine>
                    </div>
                </transition>


                <div :class="['item defense', activeItem == 'defense' ? 'active': '']" @click="setActive('defense')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + defense.imageHref" id="img-defense-svg" alt="">
                        <p class="title">{{constants.parts.defense.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(defense)"></span><b
                                v-html="calcValue(defense.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'defense'">
                        <defense :item="constants.parts.defense" :constants="constants.common" @onCalcDefense="setBudget($event, 'defense')"></defense>
                    </div>
                </transition>


                <div :class="['item government-officials', activeItem == 'government-officials' ? 'active': '']"
                     @click="setActive('government-officials')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + governmentOfficials.imageHref" id="img-government_officials-svg" alt="">
                        <p class="title">{{constants.parts.governmentOfficials.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(governmentOfficials)"></span><b
                                v-html="calcValue(governmentOfficials.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'government-officials'">
                        <government-officials  :item="constants.parts.governmentOfficials" :constants="constants.common"
                                @onCalcGovernmentOfficials="setBudget($event, 'governmentOfficials')"></government-officials>
                    </div>
                </transition>


                <div :class="['item economy', activeItem == 'economy' ? 'active': '']" @click="setActive('economy')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + economy.imageHref" id="img-economy-svg" alt="">
                        <p class="title">{{constants.parts.economy.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(economy)"></span><b
                                v-html="calcValue(economy.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'economy'">
                        <economy :item="constants.parts.economy" :constants="constants.common" @onCalcEconomy="setBudget($event, 'economy')"></economy>
                    </div>
                </transition>


                <div :class="['item pensions', activeItem == 'pensions' ? 'active': '']" @click="setActive('pensions')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + pensions.imageHref" id="img-pensions-svg" alt="">
                        <p class="title">{{constants.parts.pensions.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(pensions)"></span><b
                                v-html="calcValue(pensions.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'pensions'">
                        <pensions :item="constants.parts.pensions" :constants="constants.common" @onCalcPensions="setBudget($event, 'pensions')"></pensions>
                    </div>
                </transition>


                <div :class="['item law-enforcement', activeItem == 'law-enforcement' ? 'active': '']"
                     @click="setActive('law-enforcement')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + lawEnforcement.imageHref" id="img-law_enforcement-svg" alt="">
                        <p class="title">{{constants.parts.lawEnforcement.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(lawEnforcement)"></span><b
                                v-html="calcValue(lawEnforcement.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'law-enforcement'">
                        <law-enforcement :item="constants.parts.lawEnforcement" :constants="constants.common" @onCalcLawEnforcement="setBudget($event, 'lawEnforcement')"></law-enforcement>
                    </div>
                </transition>


                <div :class="['item other', activeItem == 'other' ? 'active': '']" @click="setActive('other')">
                    <div class="head">
                        <img class="part-icon" :src="'/dist/img/icons/' + other.imageHref" id="img-other-svg" alt="">
                        <p class="title">{{constants.parts.other.title}}</p>
                        <span class="amount"><span class="diff" v-html="calcDiff(other)"></span><b
                                v-html="calcValue(other.budget)"></b> <span>{{constants.common.uah}}</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <transition name="body">
                    <div class="item-body" v-show="activeItem == 'other'">
                        <other :item="constants.parts.other" :constants="constants.common" @onCalcOther="setBudget($event, 'other')"></other>
                    </div>
                </transition>

            </div>
        </section>
        <section v-show="!showResults" class="chart">
            <!--div class="title">Бюджетний симулятор</div-->
            <div :class="{'chart-fixed': chartTop <= 0}">
                <svg id="budget-chart" width="100%" viewBox="0 0 600 570">
                    <filter id="grayscale">
                        <feColorMatrix type="saturate" values="0"/>
                    </filter>
                    <filter x="0" y="0" width="1" height="1" id="solid">
                        <feFlood flood-color="rgba(255, 255, 255, 0.9)"/>
                        <feComposite in="SourceGraphic"/>
                    </filter>

                </svg>
                <button type="button" @click="showResultView()">{{constants.common.acceptBudgetBtn}}</button>
            </div>

        </section>
        <section v-if="showResults" class="result">
            <result :res="constants.results" :constants="constants.common"
                    @onShowMain="showResults = false" :data="getData()"></result>
        </section>
    </div>
</template>

<script>
    import Slider from './components/Slider.vue'
    import Radio from './components/Radio.vue'
    import Checkbox from './components/Checkbox.vue'
    import SocialExpenditures from './parts/SocialExpenditures.vue'
    import Defense from './parts/Defense.vue'
    import Economy from './parts/Economy.vue'
    import Education from './parts/Education.vue'
    import GovernmentOfficials from './parts/GovernmentOfficials.vue'
    import LawEnforcement from './parts/LawEnforcement.vue'
    import Medicine from './parts/Medicine.vue'
    import Other from './parts/Other.vue'
    import Pensions from './parts/Pensions.vue'
    import Result from './Result.vue'
    import swal from 'sweetalert2'

    export default {
        name: 'app',
        components: {
            'slider': Slider,
            'radio': Radio,
            'checkbox': Checkbox,
            'social-expenditures': SocialExpenditures,
            'defense': Defense,
            'economy': Economy,
            'education': Education,
            'government-officials': GovernmentOfficials,
            'law-enforcement': LawEnforcement,
            'medicine': Medicine,
            'other': Other,
            'pensions': Pensions,
            'result': Result
        },
        data () {
            return {
                chart: undefined,
                sectionChart: undefined,
                chartTop: 10,
                top: 280,
                left: 290,
                radius: 180,
                radiusDef: 180,
                maxRadius: 226,
                minRadius: 160,
                defProf: null,
                labelPointRadius: 3,
                svgAllBudget: undefined,
                activeItem: null,
                allBudgetDef: 1220519317852.95, // TODO ЗАДАЕТСЯ ВРУЧНУЮ!!! <<<#####
                allBudget: 0,
                showResults: false,
                timeout: null,
                text: '',
                isLoad: false,
                loadData: null,
                slug: null,
                language: 'en',
                constants: {},
                debtService: {
                    budget: 113958092868,
                    default: 113958092868,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Обслуговування боргу',
                    labelWidth: 118,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'debt.svg',
                    color: '#b449fc',
                },
                socialExpenditures: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Соціальні видатки',
                    labelWidth: 97,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'social_expenditures.svg',
                    color: '#fe9b36',
                },
                education: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Освіта',
                    labelWidth: 36,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'education.svg',
                    color: '#ffe001'
                },
                medicine: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Медицина',
                    labelWidth: 55,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'medicine.svg',
                    color: '#df4244'
                },
                defense: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Оборона',
                    labelWidth: 47,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'defense.svg',
                    color: '#e03c70'
                },
                governmentOfficials: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Держ. службовці',
                    labelWidth: 89,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'government_officials.svg',
                    color: '#6d6d72'
                },
                economy: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Економіка',
                    labelWidth: 55,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'economy.svg',
                    color: '#d95cd1'
                },
                pensions: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Пенсії',
                    labelWidth: 34,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'pensions.svg',
                    color: '#5b95f2'
                },
                lawEnforcement: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Охорона правопорядку',
                    labelWidth: 123,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'law_enforcement.svg',
                    color: '#544afd'
                },
                other: {
                    budget: 0,
                    default: 0,
                    start: 0,
                    end: 0,
                    chart: null,
                    data: null,
                    label: 'Інше',
                    labelWidth: 25,
                    labelLine: null,
                    labelText: null,
                    labelPoint: null,
                    image: null,
                    imageHref: 'other.svg',
                    color: '#be3a48'
                }
            }
        },
        created() {
            this.chart = document.getElementById('budget-chart');
            window.addEventListener('scroll', this.scroll);

            if (typeof getLanguage !== 'function') {
                console.error('Function for getting current language not found. Please add function getLanguage before code of app load!');
                this.$destroy();
                document.getElementById('budget').style.display = 'none';
            }

            if (typeof translations !== 'object') {
                console.error('Object of translations not found. Please add object "translations" before code of app load!');
                this.$destroy();
                document.getElementById('budget').style.display = 'none';
            }

            if (typeof this.constants === 'undefined') {
                console.error(`Language "${language}" not found. Please add this language to "translations" before code of app load!`);
                this.$destroy();
                document.getElementById('budget').style.display = 'none';
            }

            let language = getLanguage();
            this.constants = translations[language];
            this.language = language;

            this.debtService.label = this.constants.parts.debtService.title;
            this.socialExpenditures.label = this.constants.parts.socialExpenditures.title;
            this.education.label = this.constants.parts.education.title;
            this.medicine.label = this.constants.parts.medicine.title;
            this.defense.label = this.constants.parts.defense.title;
            this.governmentOfficials.label = this.constants.parts.governmentOfficials.title;
            this.economy.label = this.constants.parts.economy.title;
            this.pensions.label = this.constants.parts.pensions.title;
            this.lawEnforcement.label = this.constants.parts.lawEnforcement.title;
            this.other.label = this.constants.parts.other.title;
        },
        mounted(){
            this.chart = document.getElementById('budget-chart');
            this.sectionChart = document.querySelector('section.chart');

            if (typeof serverAddress !== 'string') {
                console.error('Variable "serverAddress" not found. Please add "serverAddress" before code of app load!');
                this.$destroy();
                document.getElementById('budget').style.display = 'none';
            }

            if (typeof slugAddress !== 'string') {
                console.error('Variable "slugAddress" not found. Please add "slugAddress" before code of app load!');
                this.$destroy();
                document.getElementById('budget').style.display = 'none';
            }

            this.drawPart(this.debtService);
            this.drawPart(this.socialExpenditures);
            this.drawPart(this.education);
            this.drawPart(this.medicine);
            this.drawPart(this.defense);
            this.drawPart(this.governmentOfficials);
            this.drawPart(this.economy);
            this.drawPart(this.pensions);
            this.drawPart(this.lawEnforcement);
            this.drawPart(this.other);
            this.drawCircle();
            this.drawCircleDashed();
            this.svgAllBudget = this.drawBudget();
            this.defProf = this.drawProfDef();
            this.calcChart();

            if (location.href.indexOf('#') !== -1) {

                let URL = location.href.split('#');
                let slug = URL[1];

                this.$http.get(serverAddress, {params: {
                    load: 1,
                    slug: slug
                }}).then((res) => {
                    //console.log('load', res.body);
                    if (!res.body.data) return false;
                    this.isLoad = true;
                    this.loadData = JSON.parse(res.body.data);
                    this.loadData.slug = slug;
                    this.showResults = true;
                });
            }
        },
        methods: {
            getData() {
                //console.log('isload', this.isLoad);
                return this.isLoad ? this.loadData : {
                    socialExpenditures: this.socialExpenditures.data,
                    education: this.education.data,
                    medicine: this.medicine.data,
                    pensions: this.pensions.data,
                    lawEnforcement: this.lawEnforcement.data,
                    governmentOfficials: this.governmentOfficials.data,
                    economy: this.economy.data,
                    defense: this.defense.data,
                    text: this.text,
                    slug: this.slug
                };
            },
            setActive(item) {
                if (item === this.activeItem) {
                    this.activeItem = null;
                } else {
                    this.activeItem = item;
                }
            },
            polarToCartesian (centerX, centerY, radius, angleInDegrees) {
                let angleInRadians = (angleInDegrees - 90) * Math.PI / 180.0;

                return {
                    x: centerX + (radius * Math.cos(angleInRadians)),
                    y: centerY + (radius * Math.sin(angleInRadians))
                };
            },
            describeArc(x, y, radius, startAngle, endAngle){
                let start = this.polarToCartesian(x, y, radius, endAngle);
                let end = this.polarToCartesian(x, y, radius, startAngle);

                let arcSweep = endAngle - startAngle <= 180 ? "0" : "1";

                let d = [
                    "M", start.x, start.y,
                    "A", radius, radius, 0, arcSweep, 0, end.x, end.y,
                    "L", x, y,
                    "L", start.x, start.y
                ].join(" ");

                return d;
            },
            showHint(obj, value) {
                obj[value] = true;
                setTimeout(() => {
                    obj[value] = false;
                }, 3000);
            },
            calcDiff(obj) {
                let diff = obj.default - obj.budget;

                if (diff === 0) return '';

                let cssClass = diff > 0 ? 'more' : 'less';
                let char = diff > 0 ? '+' : '-';

                diff = this.numberFormat(diff/1000000000);

                return `<span class="${cssClass}">${char}${diff} <b>${this.constants.common.mn} ${this.constants.common.uah}</b></span>`;
            },
            setBudget(v, obj) {
                this[obj].budget = v.amount;
                this[obj].data = v.data;

                if (this[obj].default === 0) {
                    this[obj].default = v.amount;
                }
                clearTimeout(this.timeout);

                this.calcAllBudget();

            },
            calcAllBudget() {
                let all = 0;

                all += this.debtService.budget;
                all += this.socialExpenditures.budget;
                all += this.education.budget;
                all += this.medicine.budget;
                all += this.defense.budget;
                all += this.governmentOfficials.budget;
                all += this.economy.budget;
                all += this.pensions.budget;
                all += this.lawEnforcement.budget;
                all += this.other.budget;

                this.allBudget = all;
                //console.log(all);
                this.calcChart();
            },
            numberFormat(number) {
                number = +Math.abs(number);
                return number.toFixed().replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ' ' + c : c;
                })
            },
            calcChart() {
                this.calcRadius();
                this.debtService.start = 0;
                this.debtService.end = this.calcDeg(this.debtService);
                this.redrawPart(this.debtService);

                this.socialExpenditures.start = this.debtService.end;
                this.socialExpenditures.end = this.calcDeg(this.socialExpenditures);
                this.redrawPart(this.socialExpenditures);

                this.education.start = this.socialExpenditures.end;
                this.education.end = this.calcDeg(this.education);
                this.redrawPart(this.education);

                this.medicine.start = this.education.end;
                this.medicine.end = this.calcDeg(this.medicine);
                this.redrawPart(this.medicine);

                this.defense.start = this.medicine.end;
                this.defense.end = this.calcDeg(this.defense);
                this.redrawPart(this.defense);

                this.governmentOfficials.start = this.defense.end;
                this.governmentOfficials.end = this.calcDeg(this.governmentOfficials);
                this.redrawPart(this.governmentOfficials);

                this.economy.start = this.governmentOfficials.end;
                this.economy.end = this.calcDeg(this.economy);
                this.redrawPart(this.economy);

                this.pensions.start = this.economy.end;
                this.pensions.end = this.calcDeg(this.pensions);
                this.redrawPart(this.pensions);

                this.lawEnforcement.start = this.pensions.end;
                this.lawEnforcement.end = this.calcDeg(this.lawEnforcement);
                this.redrawPart(this.lawEnforcement);

                this.other.start = this.lawEnforcement.end;
                this.other.end = 360; //this.calcDeg(this.pensions);
                this.redrawPart(this.other);

                if (this.svgAllBudget !== undefined) {
                    this.svgAllBudget.innerHTML = this.numberFormat((this.allBudget / 1000000000).toFixed()) + ` <tspan font-size="20">${this.constants.common.mn} ${this.constants.common.uah}</tspan>`;
                }

                this.drawProfDef();
            },
            calcDeg(obj) {
                return +obj.start + +(obj.budget * 360 / this.allBudget).toFixed(2);
            },
            drawPart(obj) {
                let elem = document.createElementNS("http://www.w3.org/2000/svg", "path");

                elem.setAttribute('d', this.describeArc(this.left, this.top, this.radius, obj.start, obj.end));
                elem.setAttribute('fill', obj.color);
                elem.setAttribute('stroke', '#fff');
                elem.setAttribute('stroke-width', '2');
                elem.setAttribute('class', 'parts');
                elem.setAttribute('data-id', 'part-' + obj.imageHref.replace('.', '-'));

                this.chart.appendChild(elem);
                obj.chart = elem;

                return elem;
            },
            redrawPart(obj) {
                if (obj.chart === null) return false;
                
                obj.chart.setAttribute('d', this.describeArc(this.left, this.top, this.radius, obj.start, obj.end));

                this.drawLabel(obj);
            },
            calcRadius() {
                let diff = this.allBudget - this.allBudgetDef,
                    newRadius = this.radius;

                newRadius = +(diff * this.radius / this.allBudgetDef).toFixed(2) + this.radiusDef;

                if (diff > 10) {
                    if (newRadius > this.maxRadius) {
                        newRadius = this.maxRadius;
                    }
                    this.radius = newRadius;
                } else {
                    if (newRadius < this.minRadius) {
                        newRadius = this.minRadius;
                    }
                }
                this.radius = newRadius;
            },
            drawCircle() {
                let elem = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                elem.setAttribute('cx', this.left);
                elem.setAttribute('cy', this.top);
                elem.setAttribute('r', this.radius / 2);
                elem.setAttribute('fill', '#082b3f');
                this.chart.appendChild(elem);
            },
            drawCircleDashed() {
                let elem = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                elem.setAttribute('cx', this.left);
                elem.setAttribute('cy', this.top);
                elem.setAttribute('r', this.radiusDef-1);
                elem.setAttribute('stroke', '#333');
                elem.setAttribute('stroke-dasharray', '10 10');
                elem.setAttribute('stroke-width', '1');
                elem.setAttribute('fill', 'transparent');
                this.chart.appendChild(elem);
            },
            drawProfDef: function() {
                let text, diffFormat, size;
                let diff = (this.allBudgetDef - this.allBudget);

                if (Math.abs(diff/1000000000) > 1) {
                    //console.log(diff/1000000000, 'млрд');
                    diffFormat = this.numberFormat(diff/1000000000);
                    size = this.constants.common.mn;
                } else {
                    //console.log(diff/1000000, 'млн');
                    diffFormat = this.numberFormat(diff/1000000);
                    size = this.constants.common.bn;
                }

                //console.log(diff);
                if (diff < -0.5) {
                    text = `${this.constants.common.deficit}: <tspan fill="tomato" font-size="26">- ${diffFormat}</tspan> ${size} ${this.constants.common.uah}`;
                } else if (diff > 0.5) {
                    text = `${this.constants.common.surplus}: <tspan fill="green" font-size="26">+ ${diffFormat}</tspan> ${size} ${this.constants.common.uah}`;
                } else {
                    text = '';
                }

                if (this.defProf == null) {
                    let title = document.createElementNS("http://www.w3.org/2000/svg", "text");
                    title.innerHTML = text;
                    title.setAttribute('x', this.left);
                    title.setAttribute('y', 28);
                    title.setAttribute('font-size', 28);
                    title.setAttribute('text-anchor', 'middle');
                    title.setAttribute('fill', '#333');
                    if (this.chart) {
                        this.chart.appendChild(title);
                        this.defProf = title;
                        return title;
                    }
                } else {
                    this.defProf.innerHTML = text;
                }
            },
            drawBudget() {
                if (this.svgAllBudget !== undefined) return false;
                let title = document.createElementNS("http://www.w3.org/2000/svg", "text");
                title.innerHTML = this.constants.common.totalExpenditures;
                title.setAttribute('x', this.left);
                title.setAttribute('y', this.top - 10);
                title.setAttribute('font-size', '14');
                title.setAttribute('text-anchor', 'middle');
                title.setAttribute('fill', '#fff');
                this.chart.appendChild(title);

                let elem = document.createElementNS("http://www.w3.org/2000/svg", "text");
                elem.innerHTML = this.numberFormat((this.allBudget / 10000000000).toFixed()) + ` <tspan font-size="20">${this.constants.common.mn} ${this.constants.common.uah}</tspan>`;
                elem.setAttribute('x', this.left);
                elem.setAttribute('y', this.top + 20);
                elem.setAttribute('font-size', '24');
                elem.setAttribute('text-anchor', 'middle');
                elem.setAttribute('fill', '#fff');
                this.chart.appendChild(elem);

                return elem;
            },
            mouseOver(e) {
                let image = e.target;
                let id = image.getAttribute('data-id');
                let text = this.chart.getElementById(id);

                let images = this.chart.querySelectorAll('image');
                let parts = this.chart.querySelectorAll('.parts');
                let elems = this.chart.querySelectorAll('.elems');
                let icons = document.querySelectorAll('img.part-icon');

                for (let i = 0; i < icons.length; i++) {
                    if (icons[i].getAttribute('id') === 'img-' + id) continue;
                    icons[i].style.filter = 'grayscale(100%)';
                }

                for (let i = 0; i < images.length; i++) {
                    if (images[i] === image) continue;
                    images[i].setAttribute('filter', 'url(#grayscale)');
                }

                for (let i = 0; i < parts.length; i++) {
                    if (parts[i].getAttribute('data-id') === 'part-' + id) continue;
                    parts[i].setAttribute('filter', 'url(#grayscale)');
                }

                for (let i = 0; i < elems.length; i++) {
                    if (elems[i].classList.contains('elems-' + id)) {
                        //console.log(elems[i]);
                        this.chart.removeChild(elems[i]);
                        this.chart.appendChild(elems[i]);
                    } else {
                        if (elems[i].tagName === 'line') {
                            elems[i].setAttribute('stroke', 'gray');
                        } else {
                            elems[i].setAttribute('filter', 'url(#grayscale)');
                        }
                    }
                }

                //text.setAttribute('filter', 'url(#solid)');

                this.chart.removeChild(image);
                this.chart.removeChild(text);

                this.chart.appendChild(image);
                this.chart.appendChild(text);

            },
            mouseLeave(e) {
                let images = this.chart.querySelectorAll('image');
                let parts = this.chart.querySelectorAll('.parts');
                let elems = this.chart.querySelectorAll('.elems');
                let icons = document.querySelectorAll('img.part-icon');

                for (let i = 0; i < icons.length; i++) {
                    icons[i].style.filter = 'none';
                }

                for (let i = 0; i < images.length; i++) {
                    images[i].removeAttribute('filter');
                }

                for (let i = 0; i < parts.length; i++) {
                    parts[i].removeAttribute('filter');
                }

                for (let i = 0; i < elems.length; i++) {
                    if (elems[i].tagName === 'line') {
                        elems[i].setAttribute('stroke', elems[i].getAttribute('data-color'));
                    } else {
                        elems[i].removeAttribute('filter');
                    }
                }
            },
            drawLabel(obj) {
                let centerDeg = +((obj.start + obj.end)/2).toFixed(2),
                    labelLine, labelPoint, labelText, image;
                let center = centerDeg*Math.PI/180;

                if (obj.labelLine === null) {
                    labelLine = document.createElementNS("http://www.w3.org/2000/svg", "line");
                    this.chart.appendChild(labelLine);
                    labelLine.setAttribute('stroke', obj.color);
                    labelLine.setAttribute('data-color', obj.color);
                    labelLine.setAttribute('stroke-width', 2);
                    labelLine.setAttribute('class', 'elems-' + obj.imageHref.replace('.', '-'));
                    labelLine.classList.add('elems');
                    obj.labelLine = labelLine;

                    labelPoint = document.createElementNS("http://www.w3.org/2000/svg", "circle");
                    this.chart.appendChild(labelPoint);
                    labelPoint.setAttribute('fill', obj.color);
                    //labelPoint.setAttribute('r', this.labelPointRadius);
                    labelPoint.setAttribute('r', 20);
                    labelPoint.setAttribute('class', 'elems-' + obj.imageHref.replace('.', '-'));
                    labelPoint.classList.add('elems');
                    obj.labelPoint = labelPoint;

                    image = document.createElementNS("http://www.w3.org/2000/svg", "image");
                    image.setAttribute('width', 40);
                    image.setAttribute('height', 40);
                    image.setAttribute('x', 36);
                    image.setAttribute('y', 36);
                    image.setAttribute('data-id', obj.imageHref.replace('.', '-'));
                    image.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', '/dist/img/icons/' + obj.imageHref);
                    this.chart.appendChild(image);
                    image.addEventListener('mouseover', this.mouseOver);
                    image.addEventListener('mouseleave', this.mouseLeave);
                    obj.image = image;

                    labelText = document.createElementNS("http://www.w3.org/2000/svg", "text");
                    this.chart.appendChild(labelText);
                    labelText.setAttribute('fill', '#232323');
                    labelText.setAttribute('font-size', 14);
                    labelText.setAttribute('id', obj.imageHref.replace('.', '-'));
                    labelText.innerHTML = obj.label + '<tspan class="part-budget" fill="#333" font-weight="500"></tspan><tspan class="part-def-prof"></tspan>';
                    labelText.setAttribute('class', 'part-label');
                    obj.labelText = labelText;
                } else {
                    labelLine = obj.labelLine;
                    labelPoint = obj.labelPoint;
                    labelText = obj.labelText;
                    image = obj.image;
                }

                let x = +(this.left + this.radius*Math.sin(center)).toFixed();
                let y = +(this.top - this.radius*Math.cos(center)).toFixed();

                if (centerDeg <= 90) {
                    x -= 2;
                    y += 2;
                } else if (centerDeg > 90 && centerDeg <= 180) {
                    x -= 2;
                    y -= 2;
                } else if (centerDeg > 180 && centerDeg <= 270) {
                    x += 2;
                    y -= 2;
                } else if (centerDeg > 270) {
                    x += 2;
                    y += 2;
                }

                labelLine.setAttribute('x1', x);
                labelLine.setAttribute('y1', y);
                labelLine.setAttribute('y2', y);
                labelPoint.setAttribute('cy', y);
                image.setAttribute('y', y - 20);

                labelText.setAttribute('y', y + 32);

                let endLine;

                let corr = 0;

                if (centerDeg > 140 && centerDeg < 220) {
                    corr = 10;
                }

                if (centerDeg > 150 && centerDeg < 210) {
                    corr = 20;
                }

                if (centerDeg > 160 && centerDeg < 200) {
                    corr = 30;
                }

                let tspan = labelText.querySelector('tspan.part-def-prof');
                let tspan2 = labelText.querySelector('tspan.part-budget');

                let width = obj.labelWidth;

                if (width < 80) {
                    width = 80;
                }

                if (width > 130) {
                    width = 130;
                }

                if (centerDeg >= 180) {
                    endLine = x - width - corr;
                    if (endLine < 22) {
                        endLine = 22;
                    }
                    labelText.setAttribute('text-anchor', 'start');
                    tspan.setAttribute('text-anchor', 'start');
                    tspan2.setAttribute('text-anchor', 'start');
                    labelText.setAttribute('x', endLine - 20);
                    tspan.setAttribute('x', endLine - 20);
                    tspan2.setAttribute('x', endLine - 20);
                } else {
                    endLine = x + width + corr;
                    if (endLine > (600 - 22)) {
                        endLine = 600 - 22;
                        x = endLine - width;
                    }
                    labelText.setAttribute('text-anchor', 'end');
                    tspan.setAttribute('text-anchor', 'end');
                    tspan2.setAttribute('text-anchor', 'end');
                    labelText.setAttribute('x', endLine + 20);
                    tspan.setAttribute('x', endLine + 20);
                    tspan2.setAttribute('x', endLine + 20);
                }

                labelLine.setAttribute('x2', endLine);
                labelPoint.setAttribute('cx', endLine);
                image.setAttribute('x', endLine - 20);

                tspan2.setAttribute('y', y + 48);
                tspan.setAttribute('y', y + 64);

                tspan2.innerHTML = this.numberFormat(obj.budget/1000000000) + ` ${this.constants.common.mn} ${this.constants.common.uah}`;

                let diff = (obj.default - obj.budget)/1000000000;

                let diffFormat = this.numberFormat(diff);

                if (diff > 10 || diff < -10) {
                    if (diff > 0) {
                        tspan.innerHTML =  '+ ' + diffFormat + ` ${this.constants.common.mn} ${this.constants.common.uah}`;
                        tspan.setAttribute('fill', 'green');
                    } else {
                        tspan.innerHTML = '- ' + diffFormat + ` ${this.constants.common.mn} ${this.constants.common.uah}`;
                        tspan.setAttribute('fill', 'tomato');
                    }
                } else {
                    tspan.innerHTML = '';
                }
            },
            calcValue(value) {
                if (value / 1000000000 > 1) {
                    return `<span class="value">${(value / 1000000000).toFixed()}</span> ${this.constants.common.mn}`;
                } else {
                    return `<span class="value">${(value / 1000000).toFixed()}</span> ${this.constants.common.bn}`;
                }
            },
            scroll() {
                this.chartTop = this.sectionChart.getBoundingClientRect().top + 20;
            },
            showResultView() {
                let diff = this.allBudget - this.allBudgetDef;
                //console.log('all diff', diff);
                if (diff > 1) {
                    swal({
                        title: this.constants.common.warning,
                        text: this.constants.common.toMuch,
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: this.constants.common.tryAgain,
                        cancelButtonText: this.constants.common.cancelAlert
                    });
                } else {
                    let text = '';
                    let diff1 = 100*(this.socialExpenditures.budget - this.socialExpenditures.default)/this.socialExpenditures.default;

                    // Recalculate diff for school
                    let schoolBudget = 0;
                    let schoolBudgetDefault = 85823933979.74272;

                    if (this.education.data.reform === 1) {
                        schoolBudget = 85907781252.47
                    } else {
                        schoolBudget = 85907781252.47*0.74;
                    }
                    schoolBudget = schoolBudget - 6000*12*1.22*438000 + this.education.data.salaryOfTeacher * 12*1.22/this.education.data.childrenPerTeacher*3846000;

                    let diff2 = +(100*(schoolBudget - schoolBudgetDefault)/schoolBudgetDefault).toFixed();
                    //console.log('diff2', diff2);

                    let diff3 = 100*(this.medicine.budget - this.medicine.default)/this.medicine.default;
                    let diff4 = 100*(this.defense.budget - this.defense.default)/this.defense.default;
                    let diff5 = 100*(this.governmentOfficials.budget - this.governmentOfficials.default)/this.governmentOfficials.default;
                    let diff6 = 100*(this.economy.budget - this.economy.default)/this.economy.default;
                    let diff7 = 100*(this.pensions.budget - this.pensions.default)/this.pensions.default;
                    let diff8 = 100*(this.lawEnforcement.budget - this.lawEnforcement.default)/this.lawEnforcement.default;
                    let diff9 = 100*(this.other.budget - this.other.default)/this.other.default;

                    if (diff1 < -20 && diff1 > -50) {
                        text += this.constants.forecast.forecast1 + ' ';
                    } else if (diff1 <= -50) {
                        text += this.constants.forecast.forecast2 + ' ';
                    }

                    if (diff2 < -20 && diff2 > -50) {
                        text += this.constants.forecast.forecast3 + ' ';
                    } else if (diff2 <= -50) {
                        text += this.constants.forecast.forecast4 + ' ';
                    }

                    if (diff3 < -20 && diff3 > -50) {
                        text += this.constants.forecast.forecast5 + ' ';
                    } else if (diff3 <= -50) {
                        text += this.constants.forecast.forecast6 + ' ';
                    }

                    if (diff4 < -20 && diff4 > -50) {
                        text += this.constants.forecast.forecast8 + ' ';
                    } else if (diff4 <= -50) {
                        text += this.constants.forecast.forecast9 + ' ';
                    }

                    if (diff5 < -20 && diff5 > -50) {
                        text += this.constants.forecast.forecast10 + ' ';
                    } else if (diff5 <= -50) {
                        text += this.constants.forecast.forecast11 + ' ';
                    }

                    if (diff6 < -20 && diff6 > -50) {
                        text += this.constants.forecast.forecast12 + ' ';
                    } else if (diff6 <= -50) {
                        text += this.constants.forecast.forecast13 + ' ';
                    }

                    if (diff7 < -20 && diff7 > -50) {
                        text += this.constants.forecast.forecast14 + ' ';
                    } else if (diff7 <= -50) {
                        text += this.constants.forecast.forecast15 + ' ';
                    }

                    if (diff8 < -20 && diff8 > -50) {
                        text += this.constants.forecast.forecast16 + ' ';
                    } else if (diff8 <= -50) {
                        text += this.constants.forecast.forecast17 + ' ';
                    }

                    if (diff9 < -20 && diff9 > -50) {
                        text += this.constants.forecast.forecast18 + ' ';
                    } else if (diff9 <= -50) {
                        text += this.constants.forecast.forecast19 + ' ';
                    }

                    this.text = text;

                    //console.log(JSON.stringify(this.getData()));
                    this.$http.post(serverAddress, {
                        save: 1,
                        data: JSON.stringify(this.getData())
                    }).then((res) => {
                        if (res.body) {
                            //console.log(res.body);
                            this.slug = res.body;
                            this.showResults = true;
                            window.location.hash = this.slug;
                        }
                    });
                    //this.showResults = true; // TODO comment this
                }
            }
        }
    }
</script>

<style lang="less">
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #budget {
        display: table;
        padding: 16px;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 1320px;
        margin: 0 auto;
        font-size: 14px;
        .chart {
            .chart-fixed {
                //box-shadow: 0 0 15px rgba(0, 0, 0, .1);
                //border-radius: 4px;
                position: fixed;
                top: 40px;
                width: 600px;
            }
            .title {
                text-align: center;
                text-transform: uppercase;
                font-size: 24px;
            }
            div:last-child {
                text-align: center;
            }
            #budget-chart {
                image:hover + .part-label {
                    display: inherit;
                }
                image:hover {
                    cursor: pointer;
                }
                .part-label {
                    display: none;
                    transition: all .3s;
                }
            }
            button {
                display: block;
                background: #d6aa52;
                color: #353232;
                border: none;
                font-size: 14px;
                padding: 16px 32px;
                font-weight: 600;
                border-radius: 2px;
                margin: 0 auto 16px;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                &:hover {
                    cursor: pointer;
                    background: #ecc067;
                }
            }
        }
        .expenses {
            .block {
                border: 1px solid #fff;
                border-radius: 3px;
                box-shadow: 0 0 10px rgba(200, 200, 200, 0.6);
                overflow: hidden;
                .item {
                    background: #ebebeb;
                    border-bottom: 1px solid #fff;
                    padding: 16px 16px 16px 56px;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    .head {
                        display: table;
                        width: 100%;
                        position: relative;
                        img {
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            left: -46px;
                            top: -11px;
                        }
                        .title {
                            float: left;
                            color: #232123;
                            font-weight: 600;
                        }
                        .amount {
                            float: right;
                            color: #615f61;
                            font-size: 10px;
                            position: relative;
                            .value {
                                font-size: 14px;
                            }
                            i {
                                font-size: 14px;
                                margin-left: 16px;
                                color: #fff;
                                padding: 2px 5px 2px 4.5px;
                                border-radius: 50%;
                            }
                            .diff {
                                position: absolute;
                                top: -10px;
                                right: 38px;
                                width: 108px;
                                display: block;
                                .more, .less {
                                    float: right;
                                }
                                .more {
                                    color: #27ae60;
                                }
                                .less {
                                    color: #e74c3c;
                                }
                                b {
                                    font-size: 9px;
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
                .item-body {
                    overflow: hidden;
                    background: #f4f4f4;
                    input[type='number'],
                    input[type='text'] {
                        padding: 4px 8px;
                        border-radius: 2px;
                        border: 1px solid #ccc;
                        width: 200px;
                    }
                    input[type='text'] {
                        margin-top: 6px;
                    }
                    .hint {
                        color: tomato;
                        margin-top: 6px;
                    }
                    & section {
                        padding: 16px 32px;
                        border-bottom: 1px solid #aaa;
                        z-index: 0;
                        transition: background .3s;
                        &:hover {
                            background: #e1e1e1;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                    button {
                        background: #d6aa52;
                        border: none;
                        padding: 6px 12px;
                        border-radius: 2px;
                    }
                }
                .body-enter-active, .body-leave-active {
                    transition: all .5s ease;
                }

                .body-enter-active section, .body-leave-active section {
                    transition: all .5s ease;
                }

                .body-enter, .body-leave-to {
                    opacity: 0;
                }

                .body-enter section, .body-leave-to section {
                    height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .item.debt-service {
                    i {
                        background: #b449fc;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #b449fc;
                    }
                }
                .item.social-expenditures {
                    i {
                        background: #fe9b36;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #fe9b36;
                    }
                }
                .item.education {
                    i {
                        background: #ffe001;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #ffe001;
                    }
                }
                .item.medicine {
                    i {
                        background: #df4244;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #df4244;
                    }
                }
                .item.defense {
                    i {
                        background: #e03c70;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #e03c70;
                    }
                }
                .item.government-officials {
                    i {
                        background: #6d6d72;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #6d6d72;
                    }
                }
                .item.economy {
                    i {
                        background: #d95cd1;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #d95cd1;
                    }
                }
                .item.pensions {
                    i {
                        background: #5b95f2;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #5b95f2;
                    }
                }
                .item.law-enforcement {
                    i {
                        background: #544afd;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #544afd;
                    }
                }
                .item.other {
                    i {
                        background: #be3a48;
                    }
                    &:hover, &.active {
                        box-shadow: inset 10px 0 0 #be3a48;
                    }
                }
            }
        }

        .chart, .expenses {
            float: right;
            width: 50%;
            padding: 32px;
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
        .fa-info-circle {
            color: #777;
            transition: all .3s;
            font-size: 12px;
            &:hover {
                cursor: pointer;
                color: #aaa;
            }
        }

        .tooltiptext {
            display: none;
            width: 180px;
            bottom: 100%;
            left: 50%;
            margin-left: -90px;
            transition: opacity .3s;
            background-color: #fff;
            color: #212121;
            text-align: center;
            padding: 4px;
            border-radius: 6px;
            font-size: 12px;
            position: absolute;
            z-index: 5;
            border: 1px solid #888;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            &::after {
                content: " ";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #888 transparent transparent transparent;
            }
            &.warning {
                border: 1px solid tomato;
                &::after {
                    border-color: tomato transparent transparent transparent;
                }
            }
        }
        &:hover .tooltiptext {
            display: block;
        }
    }

    @media (max-width: 1920px) {
        #budget .chart .chart-fixed {
            width: 860px;
        }
    }

    @media (max-width: 1640px) {
        #budget .chart .chart-fixed {
            width: 660px;
        }
    }

    @media (max-width: 1280px) {
        #budget .chart .chart-fixed {
            width: 500px;
        }
    }

    @media screen and (max-width: 1024px) {
        #budget .chart .chart-fixed {
            width: 410px;
        }
    }

    @media screen and (max-width: 924px) {
        #budget .chart .chart-fixed {
            width: 360px;
        }
    }

    @media screen and (max-width: 820px) {
        #budget .chart, #budget .expenses {
            width: 100%;
            padding: 12px;
        }

        #budget .chart .chart-fixed {
            position: relative;
            width: 100%;
            box-shadow: none;
            top: 0;
        }

        #slide-container {
            width: 100%;
        }

        #budget .expenses .block .item-body input[type='number'] {
            margin: 12px 0;
            width: 100%;
        }

    }

    @media screen and (max-width: 420px){
        #budget .expenses .block .item .head .amount span,
        #budget .expenses .block .item .head .amount b {
            display: none;
        }

        #budget .chart, #budget .expenses {
            padding: 0;
        }
        #budget .chart {
            padding-top: 8px;
        }

        #budget .chart button {
            width: 100%;
            box-sizing: border-box;
            padding: 10px 0;
            margin-bottom: 0;
            border-radius: 0;
        }

        #budget .expenses .block {
            border-radius: 0;
            box-shadow: none;
        }
    }

</style>
