<template>
    <div class="main-wrap-inner">
    <section class="links">
        <a :href="'https://www.facebook.com/sharer/sharer.php?u=' + getLink()" title="Розповісти друзям" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a :href="'https://twitter.com/intent/tweet' + getTwitterText()" title="Розповісти друзям" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </section>
        <section class="you-result">
            <h1 class="h1">{{constants.yourResults}}</h1>
            <p>{{data.text}}</p>

        </section>
        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#FD9C35;">
                    <h3 class="h3">{{res.socialExpenditures.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.socialExpenditures.assistanceSize}} – <span>{{data.socialExpenditures.helpThePoor}} {{constants.uahPerMonth}}.</span></p>
                        <p>{{res.socialExpenditures.subsidiesSize}} - <span>{{data.socialExpenditures.housingSubsidies}} {{constants.uahPerMonth}}.</span></p>
                        <p>{{res.socialExpenditures.benefitOneTime}} - <span>{{data.socialExpenditures.birthAid}} {{constants.uah}}</span>, {{res.socialExpenditures.benefit36Times}} - <span>{{data.socialExpenditures.help36month}} {{constants.uah}}</span></p>
                        <p>{{res.socialExpenditures.assistanceForPoor}} - <span>{{data.socialExpenditures.reform == 2 ? constants.yes : constants.no}}</span></p>
                        <p>{{res.socialExpenditures.povertyThreshold}} – <span>{{getPercent(data.socialExpenditures.percent)}} {{constants.uahPerMonth}}.</span></p>
                        <p>{{res.socialExpenditures.benefitsByInspectors}} - <span>{{data.socialExpenditures.reform == 3 ? constants.yes : constants.no}}</span></p>
                    </div>
                </div>
            </div>

            <div class="charts-block-right">
                <div class="charts-block-right-inner">
                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                <span v-html="res.socialExpenditures.targetingLevel"></span>
                            </div>
                            <div class="box-chart">
                                <canvas id="socialExpenditures" width="400" height="240"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="clear-box"></div>


        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#FFE736;">
                    <h3 class="h3">{{res.education.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.education.preTeacherSalary}} – <span>{{data.education.salaryOfKindergartenEducator}} {{constants.uahPerMonth}}</span></p>
                        <!--p>Відсоток дітей дошкільного віку, що ходять в
                            дитячий садок - <span>{{data.education.percent.value}}%</span></p-->
                        <p>{{res.education.teacherSalary}} - <span>{{data.education.salaryOfTeacher}} {{constants.uahPerMonth}}</span></p>
                        <p>{{res.education.pupilPerTeacher}} - <span>{{data.education.childrenPerTeacher}} {{constants.persons}}</span></p>
                        <p>{{res.education.lecturerSalary}} – <span>{{data.education.salaryOfLecturer}} {{constants.uahPerMonth}}.</span></p>
                        <p>{{res.education.educationQuality}} - <span class="blue-uper-text">{{getLevel(data.education.levelOfEducation)}}</span></p>
                    </div>
                </div>
            </div>

            <div class="charts-block-right">
                <div class="charts-block-right-inner">
                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                {{res.education.pupilPerTeacherInSchool}} <br> &nbsp;
                            </div>
                            <div class="box-chart">
                                <canvas id="education1" width="280" height="240"></canvas>
                            </div>

                        </div>
                    </div>

                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                <span v-html="res.education.percentOfChildren"></span>
                            </div>
                            <div class="box-chart">
                                <canvas id="education2" width="280" height="240"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="clear-box"></div>
        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#EF5A5A;">
                    <h3 class="h3">{{res.medicine.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.medicine.medicalSalary}} – <span>{{data.medicine.salary}} {{constants.uahPerMonth}}</span></p>
                        <p>{{res.medicine.paidByPatient}} - <span>{{data.medicine.pocket}} {{constants.uah}}</span></p>
                        <p>{{res.medicine.specialInstitutions}}</p>
                        <p v-show="data.medicine.special.value.indexOf(1) != -1">{{res.medicine.SAA}} - <span>{{data.medicine.special.values[0].amount}} {{constants.bn}} {{constants.uah}}</span></p>
                        <p v-show="data.medicine.special.value.indexOf(2) != -1">{{res.medicine.MIA}} – <span>{{data.medicine.special.values[1].amount}} {{constants.bn}} {{constants.uah}}</span></p>
                        <p v-show="data.medicine.special.value.indexOf(3) != -1">{{res.medicine.NAS}} - <span>{{data.medicine.special.values[2].amount}} {{constants.bn}} {{constants.uah}}</span></p>
                        <p v-show="data.medicine.special.value.indexOf(4) != -1">{{res.medicine.NG}} - <span>{{data.medicine.special.values[3].amount}} {{constants.bn}} {{constants.uah}}</span></p>
                    </div>
                </div>
            </div>

            <div class="charts-block-right">
                <div class="charts-block-right-inner">
                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                <span v-html="res.medicine.other"></span>
                            </div>
                            <div class="box-chart">
                                <canvas id="medicine" width="400" height="240"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="clear-box"></div>
        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#83AFF5;">
                    <h3 class="h3">{{res.pensions.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.pensions.basicPension}} – <span>{{data.pensions.size}} {{constants.uahPerMonth}}</span></p>
                        <p>{{res.pensions.retirementAge}} - <span>{{getAge(data.pensions.age)}} {{constants.years}}</span></p>
                        <p>{{res.pensions.pensionableYears}} - <span>{{getAge2(data.pensions.age)}} {{constants.years}}</span></p>
                        <p>{{res.pensions.specialPensions}} - <span>{{data.pensions.specialPensions.length == 0 ? constants.no : constants.yes}}</span></p>
                    </div>
                </div>
            </div>

            <div class="charts-block-right">
                <div class="charts-block-right-inner">
                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                {{res.pensions.averagePension}}
                            </div>
                            <div class="box-chart">
                                <canvas id="pensions" width="280" height="220"></canvas>
                            </div>

                        </div>
                    </div>

                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                {{res.pensions.retirementAgeYears}}
                            </div>
                            <div class="box-chart">
                                <canvas id="pensions2" width="280" height="220"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="clear-box"></div>
        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#7B74FF;">
                    <h3 class="h3">{{res.lawEnforcement.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.lawEnforcement.policeSalary}} – <span>{{data.lawEnforcement.salaryOfPolice}} {{constants.uahPerMonth}}</span></p>
                        <p>{{res.lawEnforcement.policeQuantity}} - <span>{{data.lawEnforcement.numberOfPolice}} {{constants.persons}}</span></p>
                    </div>
                </div>
            </div>

            <div class="charts-block-right">
                <div class="charts-block-right-inner">
                    <div class="chart-section">
                        <div class="chart-section-inner">
                            <div class="chart-description">
                                {{res.lawEnforcement.policePerPopulation}}
                            </div>
                            <div class="box-chart">
                                <canvas id="lawEnforcement" width="400" height="240"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="clear-box"></div>

        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#FFE736;">
                    <h3 class="h3">{{res.governmentOfficials.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.governmentOfficials.officialSalary}} – <span>{{data.governmentOfficials.salary}} {{constants.uahPerMonth}}</span></p>
                        <p>{{res.governmentOfficials.quantitySalary}} - <span>{{data.governmentOfficials.count}} {{constants.tho}} {{constants.persons}}</span></p>
                        <p>{{res.governmentOfficials.officialQuality}} - <span class="green-uper-text" :style="{color: getGovernmentColor(data.governmentOfficials.quality)}">{{getGovernmentLevel(data.governmentOfficials.quality)}}</span></p>
                        <p>{{res.governmentOfficials.eGovernance}} - <span>{{data.governmentOfficials.eGovern == 2 ? constants.yes : constants.no}}</span></p>
                    </div>
                </div>
            </div>

        </section>
        <div class="clear-box"></div>

        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#E35682;">
                    <h3 class="h3">{{res.defense.title}}</h3>
                </div>
                <div class="chart-section-left">
                    <div class="charts-block-right-inner">
                        <div class="chart-section">
                            <div class="chart-section-inner">
                                <div class="chart-description" style="margin-top: 0px;">
                                    {{res.defense.defenseSpending}} <br><br>
                                </div>
                                <div class="box-chart">
                                    <canvas id="defense" width="400" height="260"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="clear-box"></div>

        <section class="charts-block">

            <div class="charts-block-left">
                <div class="color-header" style="background-color:#F18BEC;">
                    <h3 class="h3">{{res.economy.title}}</h3>
                </div>
                <div class="box-text">
                    <div class="box-text-inner">
                        <p>{{res.economy.agriculturalSubsidies}} – <span>{{data.economy.agrarian.values[0].amount}} {{constants.bn}} {{constants.uah}}</span></p>
                        <p>{{res.economy.supportForMiners}} - <span>{{data.economy.miners.values[0].amount}} {{constants.bn}} {{constants.uah}}</span></p>
                        <p>{{res.economy.roads}} - <span class="green-uper-text">{{data.economy.roads}}%</span></p>
                    </div>
                </div>
            </div>

        </section>
        <div class="clear-box"></div>

        <div class="box-button">
            <a href="#" class="on-home" @click.prevent="toMain()"><div class="inner-but">{{constants.toHome}}</div></a>
            <a href="#" class="on-home print" @click.prevent="print()"><div class="inner-but">{{constants.print}}</div></a>
        </div>

    </div>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        name: "Result",
        props: ['data', 'res', 'constants'],
        data() {
            return {

            }
        },
        mounted() {
            //console.log('data', this.data);
            //console.log(this.res, this.constants);
            let percent = this.data.socialExpenditures.percent;
            this.drawChart('socialExpenditures', [percent*100, 25, 39.5, 29.4]);
            let vvp = (this.data.defense.budget/1000000000)/2584.9*100;
            this.drawChart('defense', [vvp, 4.39, 1.6, 1]);
            this.drawChart('lawEnforcement', [((this.data.lawEnforcement.numberOfPolice+this.data.lawEnforcement.numberOfJudges + this.data.lawEnforcement.numberOfNationGuard + this.data.lawEnforcement.numberOfProsecutors + 26141)/422.75).toFixed(), 476.87, 256.12, 304.2]);
            this.drawChart('pensions', [(this.data.pensions.size/30).toFixed(), 419, 377, 1443]);
            this.drawChart('pensions2', [this.getAge(this.data.pensions.age), 60, 65, 65]);
            this.drawChart('medicine', [this.data.medicine.pocket, 831, 1703, 1094]);
            this.drawChart('education1', [this.data.education.childrenPerTeacher, 8.76, 9.46, 12.13]);
            this.drawChart('education2', [this.data.education.percentOfCoverage, 83, 80, 96]);
        },
        destroyed() {
            window.location.hash = '';
            window.history.back(1);
        },
        methods: {
            getPercent(value) {
                  if (value == 0.2) return 1600;
                  if (value == 0.4) return 3000;
                  if (value == 0.6) return 5000;
                  return 0;
            },
            getLevel(value) {
                if (value == 1) return this.res.governmentOfficials.low;
                if (value == 2) return this.res.governmentOfficials.middle;
                if (value == 3) return this.res.governmentOfficials.high;
            },
            getGovernmentLevel(value) {
                if (value == 1) return this.res.governmentOfficials.lowQuality;
                if (value == 2) return this.res.governmentOfficials.middleQuality;
                if (value == 3) return this.res.governmentOfficials.highQuality;
            },
            getGovernmentColor(value) {
                if (value == 1) return 'tomato';
                if (value == 2) return 'orange';
                if (value == 3) return 'green';
            },
            getAge(value) {
                if (value == 1) return '60';
                if (value == 2) return '65';
                if (value == 3) return '60';
                if (value == 4) return '55';
            },
            getAge2(value) {
                if (value == 1) return '15';
                if (value == 2) return '15';
                if (value == 3) return '35';
                if (value == 4) return '15';
            },
            getLink() {
                let link = slugAddress + '/#' + this.data.slug;
                document.querySelector('meta[property="og:url"]').setAttribute('content', link);
                return encodeURIComponent(link);
            },
            getTwitterText() {
                let link = slugAddress + '/#' + this.data.slug;
                let url = '?';
                url += 'original_referer=' + encodeURIComponent(link);
                url += '&ref_src=twsrc%5Etfw';
                url += '&text=' + encodeURIComponent('Знаєш, як керувати державою? Заходь на бюджетний симулятор');
                url += '&tw_p=tweetbutton';
                url += '&url=' + encodeURIComponent(link);
                return url;
            },

            drawChart(idx, values, labels) {
                let ctx = document.getElementById(idx).getContext('2d');

                if (labels == undefined) {
                    labels = [this.res.countries.uk, this.res.countries.ru, this.res.countries.po, this.res.countries.ge];
                }
                let myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(86, 192, 60, 1)',
                                'rgba(255, 192, 0, 1)',
                                'rgba(255, 192, 255, 1)',
                                'rgba(255, 0, 255, 1)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }],
                            xAxes: [{
                                barPercentage: 0.6
                            }],
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            },
            drawPensions(idx, values, values2) {
                let ctx = document.getElementById(idx).getContext('2d');
                let dataset = [{
                    data: values,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                    ],
                    borderWidth: 1
                },
                    {
                        data: values2,
                        backgroundColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }];
                let myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [this.res.countries.uk, this.res.countries.ru, this.res.countries.po, this.res.countries.ge],
                        datasets: dataset
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }],
                            xAxes: [{
                                barPercentage: 0.6
                            }],
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            },
            toMain() {
                window.location.hash = '';
                window.history.back(1);
                this.$emit('onShowMain');
            },
            print() {
                print();
            }
        }
    }
</script>

<style lang="less">

#shareit{
    display:none;
}

section.links {
    width: 50px;
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 1000;
    opacity: 0.5;
    transition: all .3s;
    &:hover {
        opacity: 1;
    }
    a {
        color: #fff;
        display: block;
        width: 100%;
        text-decoration: none;

        i {
            display: block;
            text-align: center;
            padding: 12px;
            font-size: 20px;
            transition: all .3s;
        }
        .fa-facebook {
            background: #385aa2;
            &:hover {
                background: #4b72c3;
            }
        }
        .fa-twitter {
            background: #2dd0ff;
            &:hover {
                background: #5fdafb;
            }
        }
    }
}

.chart-description {
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) and (min-width: 751px){
    .main-wrap-inner canvas {
        width: 100%!important;
    }
}

@media screen and (max-width: 750px) {
    .charts-block-left, .charts-block-right {
        width: 100%;
    }
    .charts-block-right {
        border-top: 1px solid #eee;
    }
    .you-result {
        margin: 0;
        margin-bottom: 12px;
        width: 100%;
    }
    .box-button {
        a.print {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .you-result {
        padding: 10px;
    }
    .box-button {
        margin-bottom: 10px;
        a {
            width: 90%;
        }
    }
    .charts-block:before {
        display: none;
    }
    .main-wrap-inner canvas {
        width: 100%!important;
    }
    .box-text-inner p {
        margin: 8px 0;
        font-size: 12px;
    }
    .box-text-inner p span {
        font-size: 13px;
    }
}
</style>